[2014-03-03 02:21] jpoimboe opened #40 "kpatch build is confused by kstrtab symbols"
Junliang Li reported this on the mailing list.  The following patch fails:

[code]

It fails with:

[code]

It's getting confused by the __kstrtab_scsi_show_result symbol, which I think is created because of `EXPORT_SYMBOL(scsi_show_result)`.

[2014-03-05 16:16] #40 closed, assigned to nobody

[2014-03-07 21:49] jpoimboe opened #47 "kprobes incompatibility"
When kprobes registers with ftrace before kpatch does for the same function, kprobes "wins", until the kprobe has been unregistered with ftrace.  The kernel kprobe_ftrace_handler function changes regs->ip, which overwrites the value which kpatch had written.
# Option 1:

[code]

With this patch, if both kpatch and a kprobe handler try to modify the IP, kpatch always wins.
# Option 2:

Create an `F

[2014-03-12 16:36] sjenning opened #53 "add-patches-section doesn't handle symbol collisions properly"
Given the following patch:

[code]

running the output of create-diff-object into add-patches-section results in

[code]

add-patches-section is patching the pages_to_scan_show() in huge_memory.c when it should patch the one in ksm.c.

[2014-03-12 16:42] sjenning opened #54 "link-vmlinux-syms doesn't handle symbol collisions properly"
Same problem as #53 only with link-vmlinux-syms when pinning addresses into the symbol table of the kernel module.

[2014-03-17 16:48] mhiramat opened #64 "Unpatching must check new functions in the backtrace"
Currently kpatch_backtrace_address_verify() is reused in unpatching path but it just checks old functions in the backtrace. However, unpatching the old functions no more exists on the stack because it already replaced by the new one. Thus we need to check the new function body on it.
This is not only for kmod/core issue, but also kpatch-build(add-patches-section.c?), because this requires recordin

[2014-03-17 17:08] mhiramat opened #65 "NMI handler live patching"
Kpatch currently uses stop_machine to check all task stacks. Indeed, almost all functions never runs in that, but NMI can happen. Suppose that an NMI happens on other cpu while kpatch enabling the function list. It may cause consistency issue.

At this point, I have no good idea to solve this issue. SInce we have nothing to wait all running nmi handler to be done inside stop_machine, it seems that

[2014-03-18 17:02] mhiramat opened #66 "kmod/core: Introduce Mutex lock for protecting kpatch"
Current kpatch_register and kpatch_unregister seems not to be protected from each other. Since those APIs are open for other modules, it can be called concurrently. We should have a mutex to protect the patching/unpatching process.

[2014-03-18 20:56] jpoimboe opened #67 "kretprobes / activeness safety incompatibility"
This is from an email discussion with @mhiramat.

kretprobes removes the target function's caller from the stack, which means that the kpatch activeness safety check could fail to detect a function on the stack of a process.

I added a dump_stack() call to meminfo_proc_show.  Here's the normal
case with no ftrace or kprobes:

[code]

Here it is with function_graph tracing enabled.  Notice that seq

[2014-03-19 21:46] #66 closed, assigned to nobody

[2014-03-20 21:56] #53 closed, assigned to nobody

[2014-03-21 01:33] ryanmiao opened #76 "Add [-c| --config] option to kpatch-build"
Because kpatch-build will check the .config file from the directory
specified by "--sourcedir", if not existed, the copy src phase will fail.

So adding [-c| --config] option to kpatch-build maybe a good choice.

[2014-03-21 16:57] #76 closed, assigned to nobody

[2014-03-23 07:04] mhiramat opened #81 "Unified patch management interface required"
Current simple module load/unload interface has some problems.
- There is no way to describe/manage the dependency among patches. Wish to have a way to describe patch dependency (e.g. patch B requires the kernel with patch A). The kernel version dependency can be solved with module versioning.
- To avoid a kernel panic when failing to unpatch, patching/unpatching should be done via sysfs or ioctl

[2014-03-26 02:56] lulinqing opened #86 "kpatch-build failed (fc19)"
[code]

The last few lines from log file(110KB in total):
https://github.com/lulinqing/misc/blob/master/kpatch-build-1395733172.log

[code]

Test patch I used:

[code]

Thanks!

[2014-03-27 03:53] lulinqing opened #87 "insmod: ERROR ... Unknown symbol in module"
Tested and hit the same issue on two fc20 machines:

[code]

[2014-03-27 03:54] #86 closed, assigned to nobody

[2014-03-27 04:52] #87 closed, assigned to nobody

[2014-03-30 01:14] ryanmiao opened #98 "Different compiler causes the kernel build to behave differently"
I built the official kernel from kernel-3.13.6-200.fc20.src.rpm on x86_64 platform.
But the address of meminfo_proc_show are different between generated vmlinux and running kernel.
So that the ftrace filter can't be set to this function meminfo_proc_show.

Here is /home/ryan/.kpatch/3.13.6-200.fc20.x86_64/obj/fs/proc/.meminfo.o.cmd:

[code]

[2014-04-01 13:08] jpoimboe opened #103 "changes to __init function not detected"
kpatch-build succeeds with the following patch which changes an __init function:

[code]

I would expect it to fail when it detects that the .init.text section changed.

[2014-04-01 13:11] jpoimboe opened #104 "rename replacement function from "foo" to "foo__patched""
This would be useful to e.g. clarify that kpatch is involved in an oops backtrace.

[2014-04-02 14:39] madper opened #107 "changed section .rela.smp_locks not selected for inclusion"
Hi, I meet following failure when build a upstream patch:

[code]

My patch is:

[code]

[2014-04-03 14:35] jpoimboe opened #109 "kpatch-build: better error message for changed asm-offsets.s"
Changes to some data structure definitions (e.g. kern_ipc_perm) result in the auto-generated file asm-offsets.s file changing, resulting in the following confusing kpatch-build error:

[code]

We should detect this file changing in kpatch-build and tell the user that a struct definition was changed (which is unsupported).

[2014-04-07 20:41] sjenning opened #112 "Use of WARN family of macros resulting in changed section false positives"
In order create a trivial testcase for a modified `__bug_table` section, I created the following patch:

[code]

However, I discovered another gotcha, as create-diff-object improperly detects a change to `remove_stable_node()`. The WARN family of macros also apparently does weird things:

[code]

The operand address changes by 2, the same line offset introduced by the patch.  Further study yields

[2014-04-07 21:16] sjenning opened #113 "__bug_table section not handled by create-object-diff"
In source files that use BUG family macros, there is a special section `__bug_table` with a corresponding rela section.  This text section contains a table of 12-byte entries each with the structure:

1st word - address of instruction pointer at BUG (relocated)
2nd word - address of string with filename (relocated)
3rd word - line number of the BUG

There is a single __bug_table for the entire fil

[2014-04-15 04:11] lulinqing opened #122 "subcommand unload not recognized"
(latest commit 6006cb074b)

[code]

[2014-04-16 00:21] #122 closed, assigned to nobody

[2014-04-22 13:33] madper opened #135 "changed section .rela.parainstructions not selected for inclusion"
I meet a new unreconcilable difference:

[code]

The patch is:

[code]

[2014-04-23 19:01] #65 closed, assigned to nobody

[2014-04-23 19:01] #113 closed, assigned to nobody

[2014-04-23 20:26] #112 closed, assigned to nobody

[2014-04-24 08:57] mhiramathitachi opened #138 "Get rid of the stop_machine from kpatch"
Since the ```stop_machine()``` stops all CPUs at a while, it is not good for some mission critical systems which are the main target of live patching. Thus, we need to apply patch without ```stop_machine()```. The main reason why kpatch requires that is to check the activity of the target functions, in other words, to ensure the target function is NOT in use when patching.

To solve this issue wit

[2014-04-24 22:06] #64 closed, assigned to nobody

[2014-04-25 04:04] ryanmiao opened #140 "Failed to generate core.o"
In rhel7, 3.10.0-121.el7.x86_64, it can't find the function(or say macro) in_nmi().

[code]

This problem can't be reproduced in F20, lucky.
For safy, we need to add header `<linux/preempt_mask.h>` to core.c.

[2014-04-25 04:17] ryanmiao opened #142 "Forwarding github messages to maillist"
It could better to record github issues, and make maillist noisy, :-).

BTW, what's the IRC channel?

[2014-04-25 13:44] #140 closed, assigned to nobody

[2014-04-25 16:00] #107 closed, assigned to nobody

[2014-04-26 00:37] ryanmiao opened #146 "Make kpatch-build works on Debian/Ubuntu"
Debian/Ubuntu is another important Linux distro. Their package management is based on .deb, not .rpm.

If we support those distros, we could get more people involved.

[2014-04-26 04:27] #135 closed, assigned to nobody

[2014-04-29 02:17] #142 closed, assigned to nobody

[2014-04-29 13:38] jpoimboe opened #150 "changes to .kprobes.text not detected"
With the following patch, kpatch-build doesn't detect any changes:

[code]

I think it's because do_nmi() is annotated with __kprobes which places it in the .kprobes.text section.  But I'd expect the inclusion logic to catch the fact that .kprobes.text changed and report an error.

[2014-04-29 16:24] #103 closed, assigned to nobody

[2014-04-29 16:31] #146 closed, assigned to nobody

[2014-04-29 17:26] #150 closed, assigned to nobody

[2014-04-29 18:29] sjenning opened #156 "symbol address mismatch between vmlinux and running kernel in Ubuntu"
Loading a patch module built in Ubuntu fails because the ftrace registration at module load time fails.  This is because the addresses of symbols in the unstripped vmlinux do not match the addresses in the running kernel.

[2014-04-29 20:43] jpoimboe opened #157 "changed section .rela__jump_table not selected for inclusion"
[code]

[2014-05-02 07:52] vtolstov opened #163 "failed to build under 3.12.18"
[code]

[2014-05-02 19:44] #163 closed, assigned to nobody

[2014-05-02 20:53] jpoimboe opened #165 "kpatch replace race condition"
module_put() is called too early.

[2014-05-04 19:52] vtolstov opened #167 "provide ability to set LIBDIR"
please, add ability to set LIBDIR manually and use this path in dracut dir and modules dir.

[2014-05-06 13:34] vtolstov opened #174 "source based distributive support"
Can somebody explain to me how can i add my own linux distro support (exherbo).

[2014-05-08 04:02] ryanmiao opened #178 "[RFE] print patched functions through sysfs"
I have an idea to export patched functions through sysfs, so that could make user/developer to view what is changed. And it also could help to debug.

Therefore I plan to implement this function, like:

[code]

Is that useful?

Although no function name information is stored in `struct kpatch_func`, we could get it from `lookup_symbol_name()`.
Any other thing should be considered? (kprobe maybe :-

[2014-05-14 12:30] kim0 opened #185 "on F20, unable to create patch"
Log file at: http://paste.fedoraproject.org/101699/00703421
I can't see any glaring error

I'm very new to this (most likely user error). This is what I got:
 ./kpatch-build ~/all.patch -r ~/kernel-3.14.2-200.fc20.src.rpm
Fedora/Red Hat distribution detected
Unpacking kernel source
Testing patch file
checking file drivers/tty/n_tty.c
checking file drivers/tty/tty_buffer.c
Building original kernel

[2014-05-15 05:58] marmolak opened #187 "create-diff-object have troubles with special ELF sections"
Hi.

When I try to compile my patch:

...
create-diff-object:
 ...
readdir.o: readdir.o: changed section .rela.altinstructions not selected for inclusion
readdir.o: readdir.o: changed section .fixup not selected for inclusion
readdir.o: readdir.o: changed section .rela.fixup not selected for inclusion
readdir.o: readdir.o: changed section .rela__ex_table not selected for inclusion
readdir.o: 4 uns

[2014-05-15 20:44] #185 closed, assigned to nobody

[2014-05-15 21:43] jpoimboe opened #189 "kpatch-build: lookup_local_symbol sysctl_print_dir.isra.2 (proc_sysctl.c)"
[code]

[2014-05-15 22:40] #174 closed, assigned to nobody

[2014-05-16 04:25] jpoimboe opened #193 "use original System.map + new vmlinux to resolve duplicate symbols"
As described in #192.

[2014-05-17 14:06] kim0 opened #194 "Cannot patch self built kernel from fedora srpms"
I've built kernel (3.14.2-200.fc20.x86_64) without applying any patches straight from fedora SRPMs. I've booted the resulting binaries, then used kpatch-build to build a kernel patch. Trying to load that into the running kernel however is failing (see below). Can we add documentation what it takes to get this working. Thanks!

kpatch load kpatch-all.ko
loading core module: /usr/local/lib/modules/3

[2014-05-17 14:55] #193 closed, assigned to nobody

[2014-05-18 01:46] #194 closed, assigned to nobody

[2014-05-21 12:13] #156 closed, assigned to nobody

[2014-05-21 13:29] #54 closed, assigned to nobody

[2014-05-23 09:20] jstancek opened #202 "symbols with same (empty) name but different type"
I came across a kpatch-build error, while trying following patch:

[code]

Looking at debug output of patched object, I could see 2 symbols with same (empty) name ""
but different type:

[code]

I tried following change, which allowed me to progress further:

[code]

Debug output:

[code]

but then I hit change in jump_table, which looks unsupported at the moment, according to  commit 16221237ddfa

[2014-05-23 10:38] jstancek opened #203 "kpatch-build option --vmlinux not recognized"
Using --vmlinux option currently fails with:

[code]

This option is not included in getopt arguments:

[code]

[2014-05-27 17:45] #203 closed, assigned to nobody

[2014-05-27 17:49] #202 closed, assigned to nobody

[2014-05-27 20:18] #157 closed, assigned to nobody

[2014-05-27 20:18] #187 closed, assigned to nobody

[2014-05-28 03:11] #81 closed, assigned to nobody

[2014-05-28 03:13] #98 closed, assigned to nobody

[2014-05-28 03:17] #178 closed, assigned to nobody

[2014-05-28 21:18] #109 closed, assigned to nobody

[2014-05-29 13:34] jstancek opened #219 "kpatch_create_dynamic_rela_sections: 1563: lookup_local_symbol .data..read_mostly (dev.c)"
I'm getting error with following patch for __netif_receive_skb_core:

[code]

[code]

[2014-05-29 18:00] jpoimboe opened #221 "kpatch_create_dynamic_rela_sections: 1583: expected bundled symbol for section __jump_table for dynrela src __tracepoint_netif_receive_skb"
With the patch from #219 and the fix from #220, I get the following error:

[code]

[2014-05-30 20:25] #219 closed, assigned to nobody

[2014-05-30 20:25] #221 closed, assigned to nobody

[2014-06-02 16:37] jstancek opened #225 "data section .data.unlikely selected for inclusion"
I'm seeing this error with patch from #219:

[code]

[code]

[2014-06-02 19:28] #225 closed, assigned to nobody

[2014-06-03 09:03] jstancek opened #228 "lookup_local_symbol timekeeping_forward_now.constprop.8 (timekeeping.c)"
I'm hitting this error, with following patch:

[code]

[code]

[2014-06-03 17:22] #189 closed, assigned to nobody

[2014-06-03 17:22] #228 closed, assigned to nobody

[2014-06-09 02:06] flaming-toast opened #239 "apt-get source does not always retrieve the source of the currently running kernel"
Hello!
I was skimming over the kpatch-build source when I noticed these few lines:

[code]

So this doesn't always grab the source for `$ARCHVERSION`, it could be a few revisions behind, as `apt-get source linux` always grabs the most recent revision. For example, on my ubuntu vm running 3.13.0-24 kernel will grab the sources for 3.13.0-29, a few revisions ahead. I thought this might be important

[2014-06-13 04:02] #239 closed, assigned to nobody

[2014-06-16 14:05] #165 closed, assigned to nobody

[2014-06-16 19:37] goldyfruit opened #246 "gcc version checks"
Hi,

I try to use kpatch on Debian GNU/Linux Wheezy with a 3.14.5 kernel. The kernel compilation works but when kpatch-build try to create the patch, it fail !

[code]

The command line used : kpatch-build -s /usr/src/linux-source-3.14.5-kpatch -c /boot/config-3.14.5-kpatch -d meminfo-string.patch

I found some discussions about _.rela._ issues but everytime it's fixed by a commit. I use the last

[2014-06-19 06:27] liuhangbin opened #253 "kpatch-build still need other packages even after yum-builddep kernel"
Due to https://bugzilla.redhat.com/show_bug.cgi?id=1040219 ,  we still need to install `elfutils-devel zlib-devel binutils-devel newt-devel python-devel perl-ExtUtils-Embed audit-libs-devel numactl-devel pciutils-devel` for rpmbuild -bp, maybe we should also add this in README?

[2014-06-20 05:13] eko999 opened #257 "build failed for kernel 3.8.13"
I tried to build the kpatch source code on kernel 3.8.13, but it's failed, the error message as following:
make -C kpatch-build
make[1]: Entering directory `/data/kpatch/kpatch-0.1.5/kpatch-build'
make[1]: Nothing to be done for`all'.
make[1]: Leaving directory `/data/kpatch/kpatch-0.1.5/kpatch-build'
make -C kpatch
make[1]: Entering directory`/data/kpatch/kpatch-0.1.5/kpatch'
make[1]: Nothing to

[2014-06-26 12:37] jstancek opened #265 "unsupported section change in do_nanosleep()"
I'm hitting an error with following patch applied to RHEL7 GA kernel (3.10.0-123.el7):

[code]

[code]

[2014-06-27 22:08] jpoimboe opened #276 "create-diff-object: create __mcount_loc section"
For ftrace to recognize patched functions, we need to create the __mcount_loc section (and its rela section), which is just a simple array of pointers to the first instruction of every patched function.  Normally the kernel recordmcount.pl script does this, but it only works for .text and a few other sections, so it ignores our -ffunction-sections sections.

[2014-06-30 18:57] goldyfruit opened #279 "clean_cache remove the linux source directory"
Hi,

The clean_cache function removed my kernel source directory when i use the -s option.

[code]

So after this remove, make mrproper fail because there are no sources anymore.

[code]

Why clean_cache remove the sources ?

Thanks.

[2014-06-30 19:35] #279 closed, assigned to nobody

[2014-06-30 20:22] goldyfruit opened #281 "Unable to load the generated module"
Hey guys,

The module compilation worked fine but now i'm unable to load the generated module.

[code]

The reason why is that i've a missing symbol :

[code]

In the debug kernel, i'm able to find this symbol :

[code]

If i check in the /proc/kallsyms file, i don't see the required symbol.

Do you have any idea ?

Thanks for your help.

[2014-06-30 22:55] #281 closed, assigned to nobody

[2014-07-01 19:01] #276 closed, assigned to nobody

[2014-07-01 20:07] #246 closed, assigned to nobody

[2014-07-01 23:06] flaming-toast opened #289 "Have kpatch-build account for extraneous differences"
kpatch-build will automatically bail out if create-diff-object doesn't find any changed functions on the first pair of "changed" objects (https://github.com/dynup/kpatch/blob/master/kpatch-build/kpatch-build#L473). However, extraneous differences that are not always related to the patch can result between the unpatched/patched kernel compiles.

For example, running kpatch-build with the example me

[2014-07-02 22:51] #289 closed, assigned to nobody

[2014-07-03 16:31] jpoimboe opened #295 "bad first instruction in fib_info_hashfn"
Some weird gcc behavior on RHEL7 with the below patch.
1. gcc decided to uninline `fib_info_hashfn()` which is specified as `static inline`.
2. gcc decided not to add `call __fentry__` to the beginning of the function.

So we get the following failure:

[code]

The fix will probably be to skip the mcount processing for any new/changed functions which don't have the expected fentry preamble.

[code

[2014-07-03 19:28] jpoimboe opened #296 "symbol info mismatch: insert_leaf_info"
Getting the following error on F20:

[code]

With the following patch (almost identical to the patch from #295):

[code]

[2014-07-14 09:02] LovelyLich opened #309 "Would it possible to patch functions such as 'tcp_v4_rcv' ?"
Hi everyone,
From the README 's  limitations:
"Patches to functions which are always on the stack of at least one process in the system are not supported"

How could I judge some functions would always be on the stack ?

BTW, I am trying to implement another tcp, and use kpatch to load and unload it dynamicly.So, I would I have to replace some key functions in tcp, do you kindly have some suggesti

[2014-07-14 15:28] #309 closed, assigned to nobody

[2014-07-15 16:51] #257 closed, assigned to nobody

[2014-07-15 17:19] #253 closed, assigned to nobody

[2014-07-17 03:29] jpoimboe opened #313 "kpatch-build: deal with gcc renaming of static local variables"
If the changed function uses the same static local variable as the original function, gcc may arbitrarily rename it.  The most common example is the `__key` variable used in many places throughout the kernel for the lockdep subsystem.  gcc arbitrarily adds a numbered suffix to this variable's symbol: `__key.38008`, `__key.36449`, etc.

When this variable's symbol name changes, kpatch incorrectly c

[2014-07-17 04:02] jpoimboe opened #314 "add support for shadow data structures"
As described in this [amazing paper](http://files.mkgnu.net/files/dynamos/doc/papers/dynamos_eurosys_07.pdf)

[2014-07-18 02:15] jpoimboe opened #315 "be able to handle header file changes"
Making a trivial change to a header file causes a lot of problems for kpatch-build.  For example, modifying a comment in include/linux/ptrace.h results in what looks like the entire kernel tree getting rebuilt, causing at least two problems with kpatch-build (and probably more).

Problem 1: it dies with "a struct definition change was detected" because kpatch-build detected that arch/x86/kernel/as

[2014-07-18 03:29] jpoimboe opened #316 "KPATCH_IGNORE_FUNC"
I think we need a KPATCH_IGNORE_FUNC(func), which tells kpatch-build to ignore changes to a given function.  Probably a less hacky solution than the KPATCH_WARN\* macros.

[2014-07-18 19:57] sjenning opened #318 "bad first instruction error on SYSCALL_DEFINE functions"
Patch

[code]

fails with

[code]

Apparently functions defined by SYSCALL_DEFINE don't have the fentry

[2014-07-23 07:04] LovelyLich opened #324 "make all instead of make for every changed_objs"

[2014-07-23 07:10] #324 closed, assigned to nobody

[2014-07-24 22:23] #313 closed, assigned to nobody

[2014-07-28 20:03] #265 closed, assigned to nobody

[2014-07-28 20:07] #316 closed, assigned to nobody

[2014-07-28 20:07] #104 closed, assigned to nobody

[2014-07-28 20:55] #167 closed, assigned to nobody

[2014-07-29 15:51] #318 closed, assigned to nobody

[2014-07-29 21:29] #295 closed, assigned to nobody

[2014-08-02 03:10] jpoimboe opened #343 "re-enable a disabled patch module"
Currently KPATCH_FORCE_UNSAFE can be pretty annoying, because you can disable it but you can never rmmod it.  Which means that future "kpatch load"s of the same module will always fail.  It would be nice if we had the capability to re-enable a disabled but still insmodded patch, to allow re-applying a forced patch.

Not sure what the user interface should look like.  Maybe "kpatch enable" which wr

[2014-08-04 18:39] #296 closed, assigned to jpoimboe

[2014-08-08 21:37] sjenning opened #351 "support multiple GROUP sections"
arch/x86/vdso/vdso32/vclock_gettime.o contains two .group sections:

[code]

They currently don't correlate properly leading to the following error:

[code]

[2014-08-08 21:51] sjenning opened #352 "slub.o segfaults create-diff-object"
create-diff-object crashes on line 790 because basesym->sec->rela is NULL:

[code]

This is due to

[code]

basesym->sec is pointing at `.text.unlikely.__cmpxchg_double_slab.isra.35.part.36` while sym->sec is pointing at `.text.__cmpxchg_double_slab.isra.35`.  sym->sec has a valid rela section while basesym->sec does not.

[2014-08-12 03:47] #351 closed, assigned to nobody

[2014-08-13 03:22] flaming-toast opened #356 "sysfs initialization in patch_init is failing with loadable kernel modules"
`patch_init` is failing for patch modules that deal with loadable kernel modules. I ran into numerous issues with symbol resolution during kobject creation in `patch_make_funcs_list` while trying to patch some ext4 functions (with ext4 compiled as a module). These symbol resolution issues stem from the incorrect assumption that we know the value of `old_offset` at patch module load time. Here are

[2014-08-13 15:42] jpoimboe opened #357 "allow a patch that only contains hook functions"
The following patch isn't currently allowed:

[code]

[code]

[2014-08-13 15:53] jpoimboe opened #358 "bad dynrela location 0x9 for symbol aio_max_nr"
Getting the following error when loading the patch module based on the below patch:

[code]

Patch:

[code]

[2014-08-13 15:56] jpoimboe opened #359 "kpatch_create_dynamic_rela_sections: 2090: lookup_local_symbol .LC1 (aio.c) needed for __bug_table"
This patch probably won't work anyway because it patches a system call function, which is a known limitation of kpatch.  But it gave me an unexpected error:

[code]

[code]

[2014-08-13 16:38] #357 closed, assigned to sjenning

[2014-08-13 19:19] #358 closed, assigned to sjenning

[2014-08-14 05:19] #359 closed, assigned to sjenning

[2014-08-14 18:22] #315 closed, assigned to sjenning

[2014-08-16 03:19] #356 closed, assigned to nobody

[2014-08-25 07:39] terrywang opened #370 "kpatch-build failed to download the matching linux-source package on Debian 7"
When I first tested kpatch on Debian 7 (VirtualBox VM) it worked as expected but later on I tried to test again in a newly cloned XenServer guest, the same did NOT work which made me confused. At that time I didn't have time to troubleshoot, just noticed that it failed to download the kernel source (`linux-source`) package.

Today I spent some time and figured out why.

On [http://ftp.debian.org/d

[2014-08-25 20:12] jpoimboe opened #371 "allow "kpatch load kpatch_foo" for installed modules"
We currently allow `kpatch load` to take installed modules as input.  But it requires the filename of the module, e.g. `kpatch load kpatch-foo.ko`.

It would be nice if we could also do `kpatch load kpatch_foo` for installed modules, as a complement to `kpatch unload kpatch_foo`, and to be similar to what `modprobe` does.

So if the user passes in a patch name without .ko, add it, and convert '_'

[2014-08-26 14:21] jpoimboe opened #372 "NMI / load hook race condition"
There's a race condition in `kpatch_apply_patch()`.  The load hook is called after `KPATCH_STATE_SUCCESS` is set.  So an NMI can call a patched function after SUCCESS but before the load hook completes.

[2014-08-27 02:38] goldyfruit opened #376 "kpatch: invalid module version 3.14-3.14 for kernel 3.14"
Hi,

I'm facing to a very weird issue, i compiled a new Debian kernel, this one works fine.
So, i try to make a kpatch module, it works too but when try to load this module i have this error :

[code]

Please find below all the informations about the kernel and the kpatch module

[code]

[code]

[code]

[code]

[code]

[code]

I don't know why the patch has been builded with 3.14-3.14 version, if

[2014-08-27 15:19] jpoimboe opened #377 "Consider using depmod and modprobe for module loading"
Consider using depmod and modprobe for module loading, either on the initramfs only, or everywhere.

For reference, see the discussion at https://github.com/dynup/kpatch/issues/371#issuecomment-53534425.

[2014-08-28 15:02] #371 closed, assigned to sjenning

[2014-08-29 20:14] jpoimboe opened #381 "create-diff-object: SIGABRT when using KPATCH_IGNORE_SECTION"
create-diff-object is seemingly corrupting glibc memory, resulting in a SIGABRT, using the following patch against RHEL 7 kernel 3.10.0-123.6.3.el7 with kpatch 0.2.0:

[code]

Shows the following error:

[code]

[2014-08-31 02:54] cormander opened #385 "register_ftrace_function() returns 0 on ftrace_bug()"
Running kpatch on CentOS EL7, 3.10.0-123.el7.x86_64.

I'm forcing error conditions to test error handling of the module. Here is a case where register_ftrace_function() returns 0 even though ftrace_bug() is called from the kernel during it. Not sure if there is anything we can do about it in this module, but I thought I out to report it anyway.

[   51.202423] ------------[ cut here ]------------

[2014-08-31 14:58] cormander opened #387 "No errors thrown when kernel.ftrace_enabled=0 and things don't work"
When I do this;

sudo sysctl kernel.ftrace_enabled=0

There are no errors on kpatch insmod, or on the load of any kpatch modules. The symbols don't get patched either, and yet kpatch doesn't report any problems.

It would be just a simple addition to 4f7c5878e1751904e2818771a27b3bee13093d41 if you accept commit, that gets and checks the ftrace_enabled symbol in the same way.

I should note that, a

[2014-09-01 16:13] cormander opened #388 "kpatch_create_dynamic_rela_sections: 2115: lookup_global_symbol failed"
So I'm attempting to convert my tpe-lkm to a kpatch module. I'm adding my new functions to security/security.c, and am trying to reference it in mm/mmap.c, but compilation fails with:

[code]

I reference it in mm/mmap.c like this; `extern int tpe_allow_file(const struct file *, const char *method);` so it satisfies the normal compiler, but when it comes time for kpatch to do its thing, it bombs o

[2014-09-02 03:12] cormander opened #389 "document KPATCH_LOAD_HOOK and KPATCH_UNLOAD_HOOK"
Have a look at my POC commit 9f8d10566ba769725242eafed53f9920dbc60b8f. It doesn't quite work, but you should get the gist. I'm not sure what I'm missing, so maybe a fresh second pair of eyes can point me in the right direction.

Essentially, I want the ability to specify code that gets called on patch module load/unload.

For what it's worth, here's the simple patch I'm trying:

[code]

Thanks,

[2014-09-02 15:09] jpoimboe opened #391 "Always include new symbols"
This is related to #388.  If a file adds a new non-static symbol, but it's not used by any functions in the file, it will not be included in the patch module.  This can be a problem if another object file wants to access the symbol.  So I think new symbols should just always be included.

[2014-09-02 15:45] jpoimboe opened #392 "kpatch_link_object error handling needs work"
As reported in #384, the `kpatch_link_object()` error handling is all kinds of wrong and could result in improper calls to `kpatch_ftrace_remove_func()` and `__symbol_put()`.

[2014-09-02 16:08] #388 closed, assigned to jpoimboe

[2014-09-02 17:10] #387 closed, assigned to nobody

[2014-09-03 00:20] cormander opened #394 "WARN_ON_ONCE macro line changes causing "found two static local variables" error"
In the FAQ it talks about redefining the WARN macros if they become an issue. Well, things get dicey with the `WARN_ON_ONCE` macro.

[code]

In thise case, `mmap_region` is where it's bombing. The static local variable `__warned` comes out of the macro twice.

So while the compiler knows that the nested use of `__warned` is okay, `create-diff-object` isn't making that distinction. I can redefine t

[2014-09-03 18:23] #394 closed, assigned to nobody

[2014-09-03 22:12] #391 closed, assigned to sjenning

[2014-09-07 04:35] cormander opened #402 "proper support for __warned and __key special static variables"
I made a change inside `copy_process` in `kernel/fork.c` and `kpatch-build` fails with this:

[code]

There are two macros inside `copy_signal` which expand to use the `__key` static local variable. Since it's a static function and only used once, it gets nested inside `copy_process`. I had to do this to work around the problem:

[code]

I'm assuming this is because `create-diff-object` doesn't cl

[2014-09-07 07:25] ghost opened #403 "gentoo ebuild"
I sort of hacked it together this morning, I have been putting together a layman repository and just submitted it to overlays@gentoo to get it put in the public list of overlays (I've included a link for the time being.) I ran into a few issues, still needs some work. I won't be using dracut or genkernel for long, though I can probably add USE flags for it. Another project I am working on is porti

[2014-09-08 19:17] #314 closed, assigned to jpoimboe

[2014-09-08 19:49] jpoimboe opened #406 "handle additions to .data.unlikely section"
As reported in #402, additions to `.data.unlikely` should be allowed.  In fact it's probably ok to allow all changes to `.data.unlikely`, since the only variable there is the`__warned` variable, which is used in the `WARN*_ONCE` variables.  And warning twice rather than once probably isn't a big deal.

[2014-09-08 21:16] #406 closed, assigned to nobody

[2014-09-09 02:41] cormander opened #410 "symbol changed sections: count.isra.17.constprop.23"
I'm adding a few simple `if()` checks that `goto out;` on an error to `do_execve_common` in `fs/exec.c`, but the build dies with:

[code]

I see that this file exists; `./test/integration/gcc-constprop.patch`, the only real difference between my patch and this one is that does a return, and I do a `goto` statement.

Thoughts?

[2014-09-09 02:59] cormander opened #411 "static local variable used by two functions"
More fun stuff to poke at!

[code]

This is from a change to `kernel/sys.c`, though I'm not exactly sure what's causing it this time. Too much vodka today. I'll take a look another day if you don't beat me to it.

[2014-09-10 02:23] #410 closed, assigned to nobody

[2014-09-10 22:06] #381 closed, assigned to jpoimboe

[2014-09-11 01:51] #343 closed, assigned to flaming-toast

[2014-09-11 18:22] #411 closed, assigned to jpoimboe

[2014-09-11 18:30] #352 closed, assigned to jpoimboe

[2014-09-11 19:24] #402 closed, assigned to jpoimboe

[2014-09-11 20:15] #370 closed, assigned to nobody

[2014-09-11 20:53] #376 closed, assigned to nobody

[2014-09-11 20:59] #403 closed, assigned to nobody

[2014-09-12 01:12] #372 closed, assigned to jpoimboe

[2014-09-12 01:44] #377 closed, assigned to nobody

[2014-09-16 06:20] flaming-toast opened #430 "lookup_local_symbol uses symbols from patched versions of objects"
`lookup_local_symbol` is looking up symbol addresses using the patched versions of objects instead of the original versions. I recently noticed that an old patch I used to use to test kpatch (for context, the patch I'm using just modifies a function in ext4/super.c) had stopped working, with `kpatch-build` now exiting with the following error message:

[code]

I found that an old version of `kpatc

[2014-09-22 16:00] sjenning opened #431 "gcc/kernel version mismatch on fedora 20 kernel 3.16.2"
[code]

Using lines from gcc_version_check() in kpatch-build.

[code]

I think the solution is to match only the version string (4.8.3) and not the exactly build number.  Maybe include a warning if the build number doesn't match, but don't block the build.

[2014-10-01 20:46] #431 closed, assigned to nobody

[2014-10-02 18:52] jpoimboe opened #442 "can't access module-created percpu variables"
When patching a module, the dynamic relocation code can't find percpu variables that were created by modules.  The following patch:

[code]

Results in the following error when loading:

[code]

Unlike vmlinux-created percpu variables, module-created percpu variable offsets are apparently not added to kallsyms.

[2014-10-03 17:46] jpoimboe opened #444 "RHEL 7 tree rebuild errors"
Seen when using a patch which changes a header file.  All related to static local variable handling.

[code]

[2014-10-03 23:00] jpoimboe opened #445 "patched module can't call a new function in patched vmlinux"
We need to be able to add exported functions, for the case where a patch to a module needs to call a patched vmlinux function or a function provided by another patch module.

The obvious mechanism for this is EXPORT_SYMBOL, but putting EXPORT_SYMBOL in a patch currently only works when there are no other EXPORT_SYMBOL calls in the affected object.

If I try to add an EXPORT_SYMBOL call to a file w

[2014-10-06 16:31] #430 closed, assigned to nobody

[2014-10-06 19:22] #392 closed, assigned to jpoimboe

[2014-10-07 05:04] #445 closed, assigned to jpoimboe

[2014-10-07 13:58] jpoimboe opened #454 "detect and ignore WARN-only changes"
WARN-only changes should be detectable, especially since we have an instruction decoder already.  And it looks like they're very common, so this would be a very useful feature.

[2014-10-07 21:24] jpoimboe opened #456 "hook unload function doesn't run when module is replaced"
To recreate:
[code]

I don't see a straightforward way to fix this without a little bit of redesign.  I wonder if we should just get rid of "kpatch replace", because of all the complexity it adds to the code.  Is it really important to have an atomic replace for upgrading cumulative modules, vs just doing `kpatch unload old.ko; kpatch load new.ko`?

[2014-10-07 21:49] #454 closed, assigned to jpoimboe

[2014-10-30 09:41] haoren3696 opened #460 "will kpatch support patch a running kernel module in the future?"
Hi, I am interested in Linux dynamic kernel patching. I have tried to use both ksplice and kpatch. I found that ksplice support to patch a running kernel module, will kpatch support this function in the future?

[2014-10-30 13:07] #460 closed, assigned to nobody

[2014-10-30 14:48] haoren3696 opened #461 "safety question about patch kernel modules"
Hi, I found a safety problem when patched a kernel module. Recently, I found that many developers like to use kallsyms_lookup_name to get addresses of functions in kernel and kernel modules, and use the addresses to call functions. This way will bring  danger to the system when applying hot patch.
Here is the situation:
I want to patch a function called 'hello' in kernel module A, and there is a m

[2014-10-30 16:33] #461 closed, assigned to nobody

[2014-10-31 09:43] vtolstov opened #462 "file system layout after install"
Hi. I'm try to build kpatch for exherbo linux, after install i have this:

[code]

does it proper layout? i think that ko modules needs to be in kernel /lib/modules/`uname -r`/

[2014-10-31 20:11] #462 closed, assigned to nobody

[2014-11-02 06:09] sububack opened #465 "kpatch load crashes - kernel 3.10.19"
I have tried loading 'memtest-patch' it worked fine. However when trying to patch the fix below, it crashed.

<working log of meminfo-test patch>
[host:~]$ modprobe kpatch
[host:~]$ cat /proc/meminfo | grep Chunk
VmallocChunk:   34359439720 kB
[host:~]$
[host:~]$ insmod kpatch-patch.ko
[host:~]$
[host:~]$ cat /proc/meminfo | grep Chunk
TestMallocChunk:   34359439720 kB
[host:~]
</working log of me

[2014-11-06 07:18] mildrenGong opened #466 "kpatch make in ubuntu"
in ubuntu 14.04.1 LTS -32
log:
mildren@mildrengong-virtual-PC:~/Downloads/kpatch-master$ make
make -C kpatch-build
make[1]: Entering directory `/home/mildren/Downloads/kpatch-master/kpatch-build'
gcc -MMD -MP -I../kmod/patch -Iinsn -Wall -g -c -o create-diff-object.o create-diff-object.c
create-diff-object.c: In function ‘kpatch_create_symbol_list’:
create-diff-object.c:455:6: warning: format ‘%lu

[2014-11-06 12:11] #466 closed, assigned to nobody

[2014-11-21 11:04] jstancek opened #468 "crash with shadow variables on kpatch module unload"
I was trying "shadow variables" and found my system crashing, presumably on kpatch module unload. As a shortcut I modified kpatch core module:

[code]

Then insmod/rmmod would crash my system quite reliably.

[code]

I assume this is because hash table has been unloaded while there were still outstanding free requests. Following patch appears to fix that for me:

[code]

<br>
I'm not sure if this

[2014-11-21 16:45] #468 closed, assigned to nobody

[2014-11-26 16:01] #465 closed, assigned to nobody

[2014-11-27 11:56] haoren3696 opened #470 "does kpatch support to patch a function which has tracepoints?"
Hi, if a function has some tracepoints and .text section of the function in the memory change when some trace event is active, is kpatch able to patch this kind of functions? if kpatch support, will the tracepoints in the new function work?

[2014-11-28 07:43] gnehzuil opened #471 "[RFC] provide more information in hotfix kernel module"
Now after using kpatch-build to build a hotfix kernel module as README.md described, a kpatch-meminfo-string.ko kernel module will be generated.  But in a product system, it should have a lot of hotfix kernel module, and it's quite hard for us to identify the functionality of a hotfix kernel module and manage these hotfix kernel modules.

I propose to add a description file for a hotfix kernel mod

[2015-01-09 18:59] jpoimboe commented on #471
@gnehzuil ping?

[2015-01-09 19:00] #470 closed

[2015-01-21 12:57] jpoimboe opened #476 "add livepatch compatibility"
Ideally kpatch-build would make a runtime decision: if the kernel has CONFIG_LIVEPATCH enabled, use livepatch, otherwise use the kpatch core module (kpatch.ko).

This might also include changing the kpatch core module interface to more closely resemble the livepatch interface.

[2015-01-22 19:07] jpoimboe opened #478 "create klp_patch struct at build time"
Create the klp_patch struct at build time, rather than run time, as discussed in #477.  This will greatly simplify the patch module template code.

[2015-01-22 19:10] jpoimboe opened #479 "kpatch script compatibility with livepatch"
Make the kpatch script compatible with both the kpatch core module and livepatch.

This might involve making the kpatch core module sysfs interface identical to the livepatch interface.

[2015-01-22 19:19] jpoimboe opened #480 "linux-next build failures"
[code]

[2015-01-22 19:37] jpoimboe commented on #476
Fixed by #477.

[2015-01-22 19:37] #476 closed

[2015-01-23 20:30] spartacus06 commented on #480
This is caused by applying a patch to the kernel tree managed by git and a plus sign being appended to the kernelrelease
[code]

This patch to scripts/setlocalversion stops that
[code]

[2015-01-23 20:37] jpoimboe commented on #480
reopening (assuming it was an accidental close)

[2015-01-23 22:54] #480 closed

[2015-03-18 03:31] devonblzx opened #483 "silentoldconfig fails"
When a patch introduces a new option in the kernel config, the build fails due the 'make silentoldconfig' aborting.  How can we force kpatch to use 'make olddefconfig'.

Once would assume that using kpatch-build -c to specify the new config file would work, but this also fails with the same error.  It seems like when kpatch is building the original kernel, it overwrites this config so all the new

[2015-03-20 13:43] jpoimboe commented on #483
Thus far we've always assumed that the config file doesn't change.  The -c option also makes that assumption.  kpatch is really designed for patching small bug fixes which don't change the kernel config.

Config changes can result in completely different files getting built, changed compiler flags, etc.  I think it would be pretty hard to add proper support for it, and I'm not really convinced it

[2015-03-20 21:04] arighi opened #484 "sysfs: cannot create duplicate filename '/kernel/kpatch/patches/kpatch_fix_stack_randomization/functions/load_elf_binary'"
I get this error if I try to apply this patch live to a 3.12.38 (vanilla):
http://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=4e7c22d447bb6d7e37bfe39ff658486ae78e8d77

When I compile the fix kpatch-build says:
...
Extracting new and modified ELF sections
mmap.o: changed function: stack_maxrandom_size
mmap.o: changed function: arch_pick_mmap_layout
compat_binfmt_elf.o: change

[2015-03-21 15:40] jpoimboe commented on #484
Actually compat_binfmt_elf.c has `#include "binfmt_elf.c"`, so it looks to me like kpatch-build is correctly detecting a change to both files.

The fact that kpatch doesn't allow the patching of two functions with the same name is probably a bug.  But that will be going away soon when we change the kpatch sysfs interface to be more like upstream livepatch.

I think you should be able to work aroun

[2015-03-21 22:17] devonblzx commented on #483
Okay, thank you for filling me in.  I was trying to use kpatch for minor version upgrades with the upstream kernel.  Looks like kexec may be better for that, the only downside is kexec requires checkpointing all running processes (small downtime) while kpatch does not.

[2015-03-23 13:02] arighi commented on #484
The suggested workaround works very well. For my point of view we can close this issue.

Thanks!

[2015-03-23 13:02] #484 closed

[2015-03-23 13:48] jpoimboe commented on #483
Yeah, kexec + criu is definitely a better fit for that use case.

[2015-03-23 13:48] #483 closed

[2015-03-25 13:12] jpoimboe opened #485 "s390 support"

[2015-04-29 03:35] stevensyy opened #487 "Can we use kpatch to do recurisive patch?"
Hi,  my question is can we use kpatch to patch the same function based on the patched kernel?

say if i modify fs/proc/version.c and generate kpatch-version.ko then load it into the kernel ,

can I  again modify version.c based on the already patched source code and then generate kpatch-version_1.ko

Does it work if i load this kpatch-version_1.ko into the kernel which already has kpatch-version.k

[2015-04-29 19:45] jpoimboe commented on #487
Currently kpatch doesn't have a way to build a 2nd patch against a patched kernel source (which already includes the 1st patch).  Properly detecting and managing dependencies between patches is extremely tricky, so currently we don't even try to do it.

But you _can_ build the 2nd patch against the _original_ kernel source.  You just have to be careful that there are no unforeseen side effects bet

[2015-04-29 20:38] #487 closed

[2015-04-29 20:39] #471 closed

[2015-06-05 00:31] flaming-toast commented on #479
It might be easier to just have each type of patch module export a flag somewhere in `/sys/module/$module_name/` to indicate whether or not it is a kpatch or livepatch module. Then the kpatch script can act accordingly based on this flag, like set the right sysfs path.

At first I had the idea of simply adding a `MODULE_INFO` attribute to each module to indicate whether it is a kpatch or livepatch

[2015-06-05 15:47] jpoimboe commented on #479
A livepatch-enabled kernel already has `/sys/kernel/livepatch`, so I don't think we need to annotate the patch module itself.  If that dir exists, the kpatch script can do the livepatch logic, else do the kpatch logic.

[2015-06-05 15:52] jpoimboe commented on #479
(Similarly, the kpatch core module creates the `/sys/kernel/kpatch` directory)

That said, it might be nice to have the livepatch logic and the kpatch logic be as similar as possible, to reduce the burden of supporting both interfaces for the foreseeable future.

[2015-07-09 19:02] flaming-toast opened #493 "sysfs issue for symbols in a patch module with the same name"
This is a small edge case but I thought I'd bring it up. If a patch involves two local functions that happen to have the same name, sysfs will complain upon patch module load saying that it cannot create duplicate filenames.
Here's the test patch I tried:
[code]
Here are the backtraces:
[code]
[code]
Relevant entries in symbol table of patch module:
[code]

[2015-07-09 19:21] jpoimboe commented on #493
@flaming-toast Thanks.  I think this is an issue in both upstream livepatch and in the kpatch core module.  The current livepatch sysfs layout is:
[code]
As you mention that func dir is inherently buggy because of potential dupes.  I guess we'll have to propose a different layout upstream.  My first thoughts are either remove "func" altogether or replace it with something more unique like the func

[2015-07-09 19:22] jpoimboe commented on #493
It is a minor issue, but it affects upstream kernel API so it'd probably be wise to fix it upstream as soon as we can.

[2015-07-24 21:08] xdel commented on #246
Just for search simplicity` sake, the necessary commit is https://github.com/gcc-mirror/gcc/commit/e83660d17a3ed9fb20339118d07452f5d95b27b2

[2015-08-03 07:25] flaming-toast opened #494 "NULL pointer dereference in patch modules with multiple objects"
A patch module will crash due to null pointer dereference in cases where it contains patches to multiple objects (example: a patch module built from patches changing vmlinux and ext4)

This happens in `patch_find_object_by_name()` in `kmod/patch/livepatch-patch-hook.c`. While we're processing each function in `__kpatch_funcs`,  if we've already created a vmlinux `patch_object` and we come across a

[2015-08-17 19:12] vincentbernat opened #495 "Don't require to run the kernel to patch"
Hi!

As far as I understand, kpatch-build is only using the running kernel to get some information like its version. If this is really the case, this information could be provided on the command-line and running the kernel to patch could not be required. Is that correct?

[2015-08-17 19:41] spartacus06 commented on #495
There are two options for building patches for a non-running kernel; --sourcerpm and --sourcedir.  sourecdir is probably what you wanting to use.  If you have a built kernel source tree (you ran "make"), you can pass that to kpatch-build using --sourcedir and it will build the patches against that kernel version, using the vmlinux and .config and other required files from that tree.

[2015-08-17 20:02] vincentbernat commented on #495
Thanks! It works just fine. I am also able to build kpatch itself with `KPATCH_BUILD` set to the right location.

[2015-08-17 20:05] spartacus06 commented on #495
Cool! Glad you got it figured out.  Ok to close?

[2015-08-17 20:06] vincentbernat commented on #495
Yes!

[2015-08-17 20:06] #495 closed

[2015-08-17 20:16] vincentbernat opened #496 "unknown symbol set_memory_rw"
Hi!

I am now running into this problem when compiling the core module:

[code]

And if I try to install it (`insmod ./kpatch.ko`):

[code]

I am using a vanilla 4.1 kernel. Looking at the source code, I see that `set_memory_rw` is not an exported symbol any more:

[code]

[2015-08-17 20:20] vincentbernat commented on #496
In fact, I've forgotten to enable `CONFIG_LIVEPATCH` in my kernel. Let me try with it... No change.

[2015-08-17 20:29] vincentbernat commented on #496
Adding back the appropriate exports works just fine.

[2015-08-17 21:17] vincentbernat opened #497 "Panic on loading module for /proc/meminfo example on vanilla 4.1"
Hello!

Still on the same vanilla 4.1 kernel, I get this when loading the patch with `kpatch load`:

[code]

I have tried to debug a bit, but I have no clue on how to load the symbols from the module while I can't get `.text` and `.data` from sysfs. Is there another way to get the address the `.text` section was loaded?

If I casually trace with gdb, the kernel doesn't panic when initializing the

[2015-08-17 21:57] jpoimboe commented on #496
Thanks for the bug report @vincentbernat .  This is an obvious bug and I was able to recreate.  We've been more focused on upstream livepatch stuff and hadn't tested kpatch lately with newer kernels.

The following patch "fixes" it though it's quite hackish.  I'll need to run it through some more paces before merging:
[code]

[2015-08-17 22:04] jpoimboe commented on #497
This is a weird one.  I'm not able to recreate.

You can do something like:

[code]

[2015-08-17 22:13] vincentbernat commented on #496
Thanks for the patch! It works for me.

[2015-08-17 22:20] vincentbernat commented on #497
❦ 17 août 2015 15:04 -0700, Josh Poimboeuf <notifications@github.com> :

I have no problem with the kpatch module. It's the other one that makes
the panic. And as soon as I load it, the kernel panics, so I can't look
at the content of /sys/module/kpatch-meminfo-string/sections... The best
I can do is access to the appropriate `struct module *` in gdb.

I am using gcc 4.9.3 from Debian:

[code]

My

[2015-09-20 15:38] Archer239915 opened #498 "Null pointer: in function kpatch_create_dynamic_rela_sections"
If a specail section needs dynamic relocation, this function will use its secsym. But a special section's secsym isn't included in function kpatch_regenerate_special_section.

[2015-10-01 18:31] arges opened #501 "load/unload hooks for livepatch"
kpatch has load/unload hooks for kpatch modules. This feature would also be nice to have in livepatch module.

[2015-10-13 19:50] arges commented on #478
I've started hacking on this. How does this sound:

1) Modify create-diff-object.c with an '-l' flag for livepatch. This flag will output .klp.funcs, .klp.relocs that match klp_* structures (much like kpatch-patch.h).

2) Modify kpatch-build to invoke create-diff-object with -l when klp patching is detected.

3) Create a program that links all patch objects and inserts constructed klp_objects. Eac

[2015-10-15 21:55] jpoimboe commented on #478
@arges Sounds great.  Though I didn't quite follow this:

Why create a program?  Doesn't kpatch-build do the object linking already?  (I must admit I haven't looked at the code in quite a while, so I could be missing something obvious...)

[2015-10-16 09:02] euspectre opened #509 "kpatch-build does not process the calls to module_free() correctly"
I stumbled upon this when processing this patch:
https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=3f7352bf21f8fd7ba3e2fcef9488756f188e12be.

The patch module was prepared without visible errors. But when I tried to load it, the system complained: "Unknown symbol in module". dmesg showed:
[  622.986678] kpatch_patch: Unknown symbol module_free (err 0)

Looks like, create-d

[2015-10-16 13:45] jpoimboe commented on #509
@euspectre Can you check if the patch in #509 fixes the issue?

[2015-10-16 13:45] jpoimboe commented on #509
Er, #508.

[2015-10-16 14:15] jpoimboe commented on #501
Agreed, and we are planning it.  That said, I'd really like to get a consistency model merged before adding any significant features like this to livepatch.

[2015-10-16 18:51] flaming-toast commented on #494
Fixed in #505.

[2015-10-16 18:51] #494 closed

[2015-10-16 20:42] arges commented on #478
A few challenges I'm trying to figure out:

1)
The create-diff-object program outputs funcs/relocs for one klp_object. However creating a section like .klp.funcs / .klp.relocs would require an additional field (like objname) to correlate them an object later on (like how .kpatch.funcs already does this). However doing this would mean the livepatch hook will still need to dynamically create the str

[2015-10-17 12:21] euspectre commented on #509
Yes, the patch fixed the issue for me. Closing.

[2015-10-17 12:21] #509 closed

[2015-10-19 18:04] jpoimboe commented on #478
Yeah, this sounds pretty hard.  I guess you'd have to create the klp_object in create-diff-object, and also have the linker script be smart enough to combine multiple klp_objects into a single one if they have the same object name (e.g. "vmlinux").  My linker-fu is rusty, so I don't know if that's possible or not.

Oh, right.  This is tricky.  I guess ideally there would be a uapi version of livep

[2015-10-20 06:51] zhouchengming1 opened #514 "ERROR: kpatch_find_static_twin: 1231: found another static local variable matching xxx.17486"
My original code is :

void function(void) {
    {
         static int xxx;
         /* do something */
    }
    {
         static long xxx;
         /* do something */
    }
}

Then I add a new function before this function, and use kpatch-build to create a hot-patch,
but report an error as the title.

So I dive into the code, find the two static local variables both changed its name:
xxx.17478

[2015-10-20 12:52] jpoimboe commented on #514
Yes, it doesn't currently handle the situation where there are two static local variables with the same name in the same function.  If you're not patching the function you can tell kpatch-build to ignore it with the KPATCH_IGNORE_FUNCTION macro.

[2015-10-20 15:31] arges commented on #478
On 10/19/2015 01:04 PM, Josh Poimboeuf wrote:

So thinking about this a bit more. Here are some approaches:

1) Write something similar to what the livepatch-patch-hook.c function
already does by associating all objname's to the correct objects and
dynamically constructing the right structures. Dump this out into
another object file along with the appropriate sections. Seems hackish.

2) Each obje

[2015-10-21 00:45] zhouchengming1 commented on #514
Thanks, perhaps this is the only solution now.

[2015-10-21 03:10] jpoimboe commented on #478
This is an interesting idea.  It does add another step to the build process, but it has some benefits.  It seems more modular than the other approaches.  It encapsulates knowledge about the layout of the klp_* struct away from create-diff-object, and also keeps create-diff-object.c leaner.

I think it would also mean that create-diff-object wouldn't need to know about kpatch vs livepatch, right?

[2015-10-21 23:12] jpoimboe opened #517 "ERROR: copy_user_64.o: fixup_group_size: 1715: can't find .fixup rela group at offset 0"
This error occurs with when building `meminfo-cmdline-rebuild-SLOW.patch` from the integration test suite:

[code]

[2015-10-21 23:13] jpoimboe opened #518 "ERROR: invalid ancestor drivers/firmware/efi/libstub/lib.a for drivers/firmware/efi/libstub/efi-stub-helper.o."
This error occurs with when building meminfo-cmdline-rebuild-SLOW.patch from the integration test suite:
[code]

[2015-10-21 23:14] jpoimboe opened #519 "ERROR: x86.o: kpatch_correlate_static_local_variables: 1145: static local variable CSWTCH.1193 not used"
This error occurs when building replace-section-references.patch from the integration test suite:
[code]

[2015-10-21 23:16] jpoimboe commented on #496
Seeing this issue in Fedora 22 now.  Will test the fix soon to make sure it does what it's supposed to do and doesn't cause any regressions.

[2015-10-22 16:10] jpoimboe opened #521 "more regression tests needed"
Need regression tests for the following:
- #499
- #505
- #506
- #508
- #520
- #545
- #553

[2015-10-23 18:56] jpoimboe opened #523 "ERROR: readdir.o: kpatch_regenerate_special_section: 1840: group size mismatch for section .altinstructions"
Seeing this error with test/integration/f22/fixup-section.patch with 4.2.3-200.fc22.x86_64 kernel.

[code]

[2015-10-23 18:59] jpoimboe commented on #523
I think we'll need a more dynamic (or at least kernel-specific) way to detect the special section formats.

[2015-10-23 20:17] jpoimboe commented on #523
.altinstructions group size has changed from 12 to 13 in recent kernels.

[2015-10-23 21:15] jpoimboe commented on #478
Another benefit of option 1 is that we might someday want to make create-diff-object more generic so that it works with _any_ object files, not just the Linux kernel.  That would be another good reason to leave the klp-specific stuff out of create-diff-object.

So I would vote option 1.

[2015-10-26 14:21] #496 closed

[2015-10-27 17:04] #517 closed

[2015-10-27 17:04] #523 closed

[2015-10-28 03:36] jpoimboe commented on #519
This seems to be a gcc quirk.  CSWTCH is a read-only static local symbol which is related to switch statements.  gcc sometimes produces two CSWTCH symbols which refer to the same storage location, which confuses create-diff-object.  When it sees two functions using the same storage location, it assumes they both refer to one of the CSWTCH symbols, and that the second CSWTCH symbol is unused.

[2015-10-28 16:03] jpoimboe opened #530 "ERROR: vdso-image-32-syscall.o: 1 unsupported section change(s)"
Seeing the following errors with meminfo-cmdline-rebuild-SLOW.patch on F22:
[code]

[2015-10-28 19:46] #518 closed

[2015-10-28 19:46] #530 closed

[2015-10-28 19:47] #519 closed

[2015-10-28 22:40] jpoimboe opened #532 "ERROR: x86.o: symbol changed sections: CSWTCH.1287"
Getting the following errors with the integration test COMBINED.patch on f22:
[code]

Better fix for the gcc CSWTCH static local variables coming soon.

[2015-10-28 22:41] jpoimboe opened #533 "x86.o: WARNING: unable to correlate static local variable symbols.47844 used by trace_raw_output_kvm_apic, assuming variable is new"
Getting the following errors with the integration test COMBINED.patch on F22:
[code]

[2015-10-29 01:44] #532 closed

[2015-10-29 13:17] #533 closed

[2015-10-29 13:22] jpoimboe commented on #514
Another issue with the static local variable handling is that static local symbols are correlated by name before the static-specific correlation logic runs.  For example, if the following two symbols changed their name:

xxx.17478 ---> xxx.17483
xxx.17483 ---> xxx.17497

It will incorrectly correlate the two xxx.17483 symbols.

Working on a rewrite of the static local variable handling to deal wit

[2015-10-29 15:12] jpoimboe commented on #514
@zhouchengming1 Can you check if the patch in #535 fixes your issue?

[2015-10-29 15:40] jpoimboe commented on #501
The goal of livepatch is to eventually make kpatch.ko obsolete.  So after the consistency model is merged upstream, we're definitely planning this, and all other features which will close the feature gap.

However I'd rather not use the kpatch github to track all the missing livepatch features.  Rest assured it will get done before we retire kpatch.ko :-)

[2015-10-29 15:40] #501 closed

[2015-10-29 15:43] jpoimboe commented on #138
I think we can close this issue.  kpatch.ko can continue to use stop_machine until it retires (when livepatch closes the feature gap).

[2015-10-29 15:43] #138 closed

[2015-10-29 15:46] jpoimboe commented on #444
No idea which patch I used to create this error, but it's probably fixed by #535.

[2015-10-29 15:46] #444 closed

[2015-10-29 16:58] jpoimboe commented on #497
Looking at the the oops, it appears the faulting instruction was:
[code]
which corresponds to:
[code]
The invalid mod pointer (rbx) was `0xffffffffa0010cc0`.

The surrounding code was:
[code]
It's very odd that the mod pointer (0xffffffffa0010cc0) seemed to be valid for the earlier `mod->init` dereference, but then it was invalid for the `mod->state` dereference failed.  The pointer seems valid, a

[2015-10-29 17:07] jpoimboe commented on #497
There's one more thing that doesn't make sense to me, from looking at the assembly listing:
[code]
After the call to do_one_initcall(), it does a `movl    %eax, %r12d`, which should put 0 in the lower 32 bits of r12 (which represents the `ret` variable).  Then it jumps to `.L1110`.  But the oops dump shows r12's value as `R12: ffff88001eb58638`.  Which doesn't make any sense.

[2015-10-29 17:09] jpoimboe commented on #497
(that assumes my assembly listing is the same as yours)

[2015-10-29 17:20] vincentbernat commented on #497
Can I try again with a 4.2?

[2015-10-29 17:26] jpoimboe commented on #497
Sure.  BTW was this on a VM?

[2015-10-29 19:38] jpoimboe commented on #514
@zhouchengming1 Please disregard my question, the patch still needs some work.

[2015-10-29 22:01] jpoimboe commented on #456
Instead of `kpatch replace` you can just load a new patch which is a superset of the previous patch.  So I think an atomic replace isn't really necessary.  I think we should remove it.

[2015-10-30 09:06] vincentbernat commented on #497
Yes, this is in a VM.

I now have gcc-5.2 on my system and I run into additional difficulties. When I try to run `kpatch-build`:

[code]

I could try to use gcc-4.9 but it seems that kpatch-build doesn't honor the `CC` variable (and there is some other places where `gcc` seem to be hardcoded when building kpatch).

I am a bit low on time currently. Feel free to postpone/close the issue if things d

[2015-10-30 12:29] jpoimboe commented on #497
Gah, sorry.  I've made a lot of fixes in the last week and I probably broke Debian.  If you have a chance to try, I think reverting commit 170449847136a48b19fcceb19c1d4d257d386b56 will fix your new problem.

[2015-10-30 15:59] arges opened #538 "support patching __init functions in kernel modules"
Patching __init functions for kernel modules should work. In the case that the module is unloaded, patching __init should work since the klp MODULE_COMING notifier triggers before __init gets executed in that module.

Another approach would be to just build the fixed module and spit it out somewhere. Then it could be left as an exercise to the reader to overwrite the faulty module on disk.

[2015-10-30 16:18] jpoimboe commented on #538
I just responded to Jiri's suggestion about this on the live patching list.  It actually isn't possible because __init functions don't have the __fentry call which ftrace needs to hook into to patch a function.

This is definitely possible, but IMO, it's outside the scope of what kpatch-build should do.  In this case the module can just be rebuilt normally in the kernel tree.

[2015-10-30 16:24] arges commented on #538
Ok seems reasonable to close this issue then. Thanks

[2015-10-30 16:25] #538 closed

[2015-10-30 21:17] jpoimboe commented on #497
You could also try doing `bash -x kpatch-build` instead of `kpatch-build` to show exactly what command is failing.

[2015-11-02 16:26] cbay commented on #497
I have the same issue when CONFIG_DEBUG_SET_MODULE_RONX is not set. When it's set, the bug goes away. I'm using livepatch.

Tested on 4.1, 4.2 and 4.3, on Debian 8 (with a custom kernel). By default, Debian has CONFIG_DEBUG_SET_MODULE_RONX=y.

[2015-11-02 17:02] jpoimboe commented on #497
@cbay, thanks for isolating the problem.  I should have a fix soon.

[2015-11-02 17:07] cbay opened #540 "kASLR support"
Is kASLR supported? When it's enabled, I get:

    livepatch: symbol 'arch_report_meminfo' not found at specified address 0xffffffff81058000, kernel mismatch?

Indeed:

    # zgrep arch_report_meminfo /proc/kallsyms
    ffffffff95058000 T arch_report_meminfo

When booting with `nokaslr`, it works fine. Tested on Linux 4.3 and 4.1.

[2015-11-02 17:16] jpoimboe commented on #540
It's not currently supported, but it would be a nice feature to add.

[2015-11-02 17:16] #514 closed

[2015-11-02 17:19] cbay commented on #540
Thanks. In the meantime, a note in the README might be helpful.

[2015-11-02 17:22] jpoimboe commented on #497
@cbay any chance you can test with the following patch?
[code]

[2015-11-02 17:24] jpoimboe commented on #497
Oh, you're using livepatch?  Guess we need a fix there as well.

[2015-11-02 17:24] jpoimboe commented on #497
(and this patch won't help you)

[2015-11-02 17:26] cbay commented on #497
Yes, I'm using livepatch. If I remember correctly, I did test with the kpatch module and it didn't cause the bug.

[2015-11-02 17:33] jpoimboe commented on #497
Assuming I understand the problem correctly, it affects both kpatch.ko and livepatch, but it's intermittent, and may be dependent on what patch you use as well as how memory is laid out.

It requires a dynamic relocation write being performed on the same page of memory that holds the struct module.  After writing the dynamic relocation, we set the page to be read-only, which causes the next write

[2015-11-02 17:39] cbay commented on #497
OK. As far as I'm concerned, I was testing the example patch (modifying /proc/meminfo).

Let me know if you want me to test a patch for livepatch.

[2015-11-02 17:47] jpoimboe commented on #497
@cbay can you try this livepatch fix?
[code]

[2015-11-02 18:30] jpoimboe commented on #497
@cbay Also, if you care to send me your email address, I can credit you with "Reported-by" and "Tested-by" in the upstream livepatch commit log.

[2015-11-02 18:57] cbay commented on #497
The patch fixes the issue for me. I tested it on Linux 4.3 (the patch didn't apply cleanly, though). Thanks!

My email is cbay at alwaysdata.com.

[2015-11-04 08:59] zhouchengming1 commented on #540
It's a bug in livepatch, not kpatch-build.
When enable KASLR, func->old_addr will be set to zero
and livepatch will find the right old address.
But for reloc, livepatch just verify it using reloc->val (old addr from user),
so verify failed and report “kernel mismatch" error.
I've modified the code of livepatch, can I send a patch later ?

[2015-11-04 09:05] cbay commented on #540
I'm ready to test a patch if you have one.

[2015-11-04 09:26] zhouchengming1 commented on #540
ok, I will send a patch to lkml and copy to you soon. Thanks.

[2015-11-04 16:17] jpoimboe commented on #540
Ah @zhouchengming1, you're right.  I mistakenly thought this issue was reported against kpatch.ko.  Generally we try to only track kpatch issues here.

[2015-11-04 19:51] #497 closed

[2015-11-05 00:58] zhouchengming1 commented on #540
@jpoimboe , oh, I know.

[2015-11-05 00:59] zhouchengming1 commented on #540
@cbay , you still get the 'symbol not found in symbol table' error ?

[2015-11-05 01:02] zhouchengming1 commented on #540
@cbay , this patch is on top of linux-4.1, I will make one on top of linux-4.3 later, maybe will solve your error. Thanks.

[2015-11-05 09:20] cbay commented on #540
@zhouchengming1 It fails on Linux 4.1.12 as well:

    livepatch: symbol 'arch_report_meminfo' not found in symbol table

This is the patch I'm testing:

[code]

[2015-11-05 10:22] zhouchengming1 commented on #540
@cbay , it's a little strange. I think I'd better test myself before ask you.
Thanks.

[2015-11-06 06:33] zhouchengming1 commented on #540
@cbay , I just did a test myself. With the patch I just sent, there was no problem.
Can you test the new patch and let me know if it works?

[2015-11-06 11:26] cbay commented on #540
@zhouchengming1 I've just tested on Linux 4.3, it works fine. Thanks!

[2015-11-11 01:56] zhouchengming1 opened #545 "Questions about the current solution of correlating static local variables"
1. Why undo the previous correlation in the iteration of base->symbols?
   If               xxx.123  --->   xxx.123 (previous correlation by coincidence)
                    xxx.256  --->   xxx.256 (previous correlation by coincidence)
   But real     xxx.123  --->  xxx.256
   In this case, the code doesn't work. Because when find patched_sym for xxx.123,
   the xxx.256 in patched_object hasn't be

[2015-11-11 02:59] jpoimboe commented on #545
Ah, right.  Instead of uncorrelating and correlating in the same loop, they should be done in two separate loops, so that *all* of the uncorrelations are done before starting the correlations.

Ah, right, this is another problem.  I need to think about it a little bit.  Can you clarify your suggested solution?

This static local correlation has been really hard to get right :-/

[2015-11-11 05:52] zhouchengming1 commented on #545
@jpoimboe , there is a solution that works fine in the same restrictions.
And I just have implemented it simply, also did some test on it.
I think I'd better send a patch to you later, maybe there are little problems in it.

[2015-11-13 02:28] #540 closed

[2015-11-13 14:02] jpoimboe opened #552 "add following sections to is_bundleable list"
Thanks to @rosslagerwall for finding these.
[code]

[2015-11-13 14:07] rosslagerwall opened #553 "Error: data section .data..read_mostly selected for inclusion"
The following patch fails to compile against 3.10.0-229.14.1.el7.x86_64:
[code]

The issue here is that the section reference to .data..read_mostly does not get replaced with the correct symbol because of the check in https://github.com/dynup/kpatch/blob/master/kpatch-build/create-diff-object.c#L1372 and the way that GCC compares the ptr with the address at the end of the array (one past the index

[2015-11-13 17:55] jpoimboe commented on #545
@zhouchengming1 do you have a patch which reproduces these errors?  I would like to test for this in the integration test suite.

[2015-11-13 19:21] jpoimboe commented on #553
Thanks, this is an interesting problem.

At first I thought this means that our whole approach in kpatch_replace_sections_syms() is broken.  Because how can we tell the difference between the end of one variable and the beginning of the next?

But looking more, I think this can only happen in cases where the code needs the _address_ of the variable, rather than the contents of the variable itself.

[2015-11-13 20:30] jpoimboe commented on #553
So I think I can hack in a fix for this in kpatch_replace_sections_syms(), to check for the case where a R_X86_64_32S rela is pointing to the end of a data section.

That's not ideal, though.  It make all this so much easier if we could get gcc to use real symbol references instead of section references whenever possible.

[2015-11-13 21:09] rosslagerwall commented on #553
But this may not always occur at the end of a data section.

Consider:
[code]

generates these relocations:
[code]

Although gcc hasn't done it, it seems possible that it could have only generated one relocation for .data..read_mostly + 40 and used it to refer to two different variables. This makes me think that somehow we shouldn't need to know exactly which symbol we're using to refer to the dat

[2015-11-13 21:09] rosslagerwall commented on #553
Also, looking at those relocations, shouldn't kpatch_replace_sections_syms also handle R_X86_64_32?

[2015-11-13 21:16] jpoimboe commented on #553
Right, that's the point I was trying to make.  If it happens in the middle of a data section, then we'll just pick the wrong symbol (e.g. `arr2 + 0` instead of `arr1 + 40`) .  But that's not a problem, because:

1) I think this situation only occurs when gcc is trying to get the address of the symbol, not the contents of its data; and

2) the data section won't change because kpatch doesn't allow

[2015-11-13 21:39] jpoimboe commented on #553
Yeah, maybe we don't need to know exactly which symbol we're using if it's in a data section, since data sections aren't supposed to change.  But I think that approach may be harder to implement because to get a reasonable error message for data section changes, we'd have to compare data sections before comparing relocations; but there's a chicken and egg problem: you can't tell for sure if a data

[2015-11-13 21:42] jpoimboe commented on #553
The kernel doesn't use those (except for debuginfo sections).

[2015-11-13 21:45] jpoimboe commented on #553
I think this is actually an assembler issue -- maybe I'll ask about it on the binutils mailing list.

[2015-11-13 22:49] jpoimboe opened #556 "Get rid of "external" dynrelas"
As described here:

https://lkml.kernel.org/r/20151112191917.GJ4038@treble.hsd1.ky.comcast.net

[2015-11-13 23:09] jpoimboe commented on #498
@Archer239915 Do you have an example of a patch which causes this issue?

[2015-11-16 05:58] zhouchengming1 commented on #545
I have a patch, but it's for my module, not for the kernel.

[2015-11-16 06:03] zhouchengming1 commented on #545
I'd like to test for you, when this git repository has merged your patch.

[2015-11-16 15:48] #456 closed

[2015-11-16 16:37] #553 closed

[2015-11-16 18:10] arges opened #558 "changed section .rela.rodata.* not selected for inclusion"
I've just tried applying torvalds/linux@54a20552e1eae07aa240fa370a0293e006b5faed to v4.2 and get the following error:

[code]

Grepping on svm_exit_handlers yields:

[code]

This is with `gcc version 5.2.1 20151010 `. I can post additional information as needed.

[2015-11-16 18:17] jpoimboe commented on #558
I think that error is due to the fact that changes to data structures aren't allowed.  If you really need a data structure change you have to get creative with a kpatch load hook or a shadow data structure.

[2015-11-16 18:33] jpoimboe commented on #545
@zhouchengming1 It has been merged, please test and let me know if it works for you.  Thanks!

[2015-11-16 19:11] arges commented on #558
Ok so an example of how to fix this would be to:
1) set up a shadow structure
2) change all references to the new structure
3) ensure load hooks account for this changeover safely

[2015-11-16 19:25] jpoimboe commented on #558
Looking briefly at the patch, I think the easiest thing to do would be:
[code]
So check for the new case manually instead of adding it to the svm_exit_handlers array.

BTW, I'm not very familiar with the code, but I did notice that it also seems to be changing some exception handling stuff.  It might not work as expected if the patch is loaded _after_ the kvm module.  In which case you might need

[2015-11-16 21:53] #558 closed

[2015-11-17 09:50] rosslagerwall commented on #553
Awesome, thanks.

[2015-11-17 15:28] zhouchengming1 commented on #545
I just have tested the new kpatch.
Q1: gcc/kernel version mismatch ?
       gccver="(GCC) 4.9.0"
       kgccver="(GNU) 4.9.0"

       so I think should just compare the last number "4.9.0".
       Change (cut -d' ' -f2-) to (cut -d' ' -f3-);
       And (cut -d ' ' -f5-) to (cut -d ' ' -f6-).
       Is it a bug or a coding error...

Q2: works for me on correlating static local variables ?
       ER

[2015-11-17 17:29] jpoimboe commented on #545
This was broken with #548 and will be fixed with #561.

The symbol's section should already be uncorrelated [here](https://github.com/dynup/kpatch/blob/master/kpatch-build/create-diff-object.c#L1152) and then re-correlated [here](https://github.com/dynup/kpatch/blob/master/kpatch-build/create-diff-object.c#L1211).

Is it not working for you?

Yeah, I think perhaps renaming the symbol isn't the bes

[2015-11-18 03:43] zhouchengming1 commented on #545
** .data.var.18451 is the symbol of the section, we undo the correlation of the symbol *var.18451* and *its section* indeed, but no  *the symbol of the section*  . **
So the function *kpatch_compare_correlated_symbol* find that the symbol *.data.var.18451* has a twin, but its section don't have, and report this error.
In the process of undo correlation, we should include *the symol of the section

[2015-11-18 15:09] jpoimboe commented on #545
Thanks, this was an excellent test case BTW.  I'll have to figure out a way to incorporate it into the integration tests.  For reference:
[code]
[code]

[2015-11-18 16:10] jpoimboe commented on #545
I propose the following restrictions for static locals:

1. No removal of any static local references.
2. If there is more than one static local variable with the same name in the same function, their order of reference must not change.  For example, if A.1 is accessed before A.2 in the original function, A.1 must also be accessed before A.2 in the new function.
3. A new reference to a static loca

[2015-11-18 20:40] jpoimboe opened #562 "ERROR: gcc >= 4.8 required"
Seeing this error on RHEL 7.

[2015-11-19 13:32] zhouchengming1 commented on #545
After seeing the relocation table above, I am worried that this restriction is hard to get. Because a little change (*no new static local*) may change the order of reference, and kpatch-build won't know it.

[2015-11-19 13:54] jpoimboe commented on #545
Yes, there's no way for kpatch-build to enforce this restriction, and there's a very small chance that it could happen.  The best we can do is clearly document this restriction.

The only other option I can think of is to make it even more restrictive: disallow patching of any functions which reference two static local variables of the same name.

[2015-11-25 01:49] zhouchengming1 opened #566 "ERROR: module.o: symbol changed sections: section_objs"
I just add a printk in the function "load_module", but the kpatch-build report this error.
"section_objs" indeed changed from _.text.section_objs_ to _.text.unlikely.section_objs_.
But I think kpatch-build should support this situation.

[2015-11-25 11:23] terrywang opened #567 "Failed to load patch module on Fedora 23"
Tried `kpatch` on Fedora 23 x86_64, complied from source using master branch.

Running kernel: `4.2.6-300.fc23.x86_64`

`kpatch-build` appeared to successful, when trying to load the patch module the following error occurred

[code]

Looks like `insmod` thinks the patch format in invalid.

[2015-11-25 14:35] zhouchengming1 commented on #566
I just pushed a patch that can fix this bug.

------------------------ | --------------------
    old                      |           new
------------------------ | --------------------
.text.unlikely.func   |  .text.unlikely.func
.text.func                |
----------------------- | ---------------------

the size of .text.unlikely.func in the old object is 0, func is in section .text.func;
but

[2015-11-25 18:05] flaming-toast commented on #567
Hm, usually you see the "Invalid module format" error when the kernel module in question has been compiled against the wrong kernel version or you are running a kernel that is different than the one kpatch-build compiled the module against. Can you check what `dmesg` says when you attempt to load the module? And does the vermagic of the module (check with `modinfo kpatch-version.ko`) match the ver

[2015-11-26 00:37] terrywang commented on #567
@flaming-toast Thanks, right on target ;-D

Looks like there is an extra `+` in the patch module's `vermagic`, I didn't notice that (when running `modinfo`) until following the journal LoL

[code]

Will try to figure out when it is injected in the building process.

[code]

[2015-11-26 05:45] flaming-toast commented on #567
@terrywang Cool. Looks like we are getting somewhere :-)

The "+" seems to get inserted when the working directory of the kernel source is dirty. Did you happen to make any changes to the kernel source you're working with? This comment from the `setlocalversion` script in `scripts/setlocalversion` explains when it appends the "+" to the version string:
[code]
This stackoverflow answer might also b

[2015-11-26 10:31] terrywang commented on #567
@flaming-toast Thanks for the Stack Overflow link, it really helped! This is the first time I have ever seen this weird problem LoL

I interrupted the first `kpatch-build` and may have somehow polluted the kernel source directory. After rebuilding `$HOME/.kpatch`, generate the patch from scratch from 2 clean kernel source tree the new patch module is good (no `+`) and can be loaded.

[2015-11-26 10:31] #567 closed

[2015-12-03 20:53] flaming-toast commented on #556
I'm probably misunderstanding the mailing list thread, but I'm slightly confused about how this is going to be implemented. Say the external flags aren't used anymore both in dynrelas and livepatch code. Given a klp_reloc with just the name, sympos, type, etc., how will livepatch know where to look for the symbol? (the three options being, it's either exported and global, in another .o in the patc

[2015-12-03 21:25] jpoimboe commented on #556
Here's my understanding.  Let me know if this makes sense.

We'll have to provide the name of the object (objname) where the symbol lives.  kpatch will need a little bit of rework for that.

1. If it's "external" and in Module.symvers, we know it's exported.  We can find the objname in Module.symvers.  sympos should always be 0 because exported symbols are global, and globals are unique.
2. Otherw

[2015-12-04 02:47] flaming-toast commented on #556
Ah, that makes sense now.

It sounds like dynrelas would just need another field that contains the objname where the symbol (referenced by the dynrela) might live, and create-diff-object probably needs another argument for the path to Module.symvers. Doesn't sound too bad. Then we could just replace the "external" logic in livepatch with a single klp_find_object_symbol() call. I can work on this i

[2015-12-04 02:51] jpoimboe commented on #556
Sounds good!

[2015-12-07 12:11] vvoody opened #570 "Couldn't patch an overlayfs vulnerability"
Hi!

I have been struggling with [CVE-2015-1328](https://www.exploit-db.com/exploits/37292/). Since Ubuntu fixed this issue in [3.13.0-55.92](http://people.canonical.com/~ubuntu-security/cve/2015/CVE-2015-1328.html), so I grabbed the patch from [here](http://launchpadlibrarian.net/209076054/linux_3.13.0-49.83_3.13.0-55.92.diff.gz). But unfortunately, I got a `no functional changes found` error. Is

[2015-12-07 12:34] jpoimboe commented on #570
I'm guessing your kernel has overlayfs compiled as a module.  If so, remove the '-t vmlinux' from the command line.

[2015-12-07 12:37] jpoimboe commented on #570
Pro tip: in this case you can probably do '-t fs/overlayfs/overlay.ko' instead to make the build quicker.

[2015-12-07 13:02] vvoody commented on #570
Thanks, Josh!

`-t fs/overlayfs/overlay.ko` didn't work.

[code]

BUT! `kpatch-build cve-2015-1328-ofs.patch` works!!! Thank you very much, Josh :D

[code]

[code]

[2015-12-07 14:20] jpoimboe commented on #570
Glad it worked!

[2015-12-07 14:20] #570 closed

[2015-12-09 22:28] arges commented on #493
Once the kernel patch is merged we will need to adjust the livepatch hook to accommodate the new structure.

[2015-12-10 00:20] arges opened #572 "support for livepatch load/unload hooks"
This is dependent on upstream kernel changes to accommodate these hooks. After this lands, support will be needed to handle this via kpatch-build.

[2015-12-25 02:06] zhouchengming1 opened #574 ""-ffunction-sections -fdata-sections" will change the name of symbol"
1. build the kernel,  nm vmlinux > txt1
2. export KCFLAGS="-ffunction-sections -fdata-sections"
    build the kernel again, nm vmlinux > txt2
3. vimdiff txt1 txt2

 Then we can see that many symbols changed name, like aio_fs.34038 ->  aio_fs.34042 .
 So even though we correlate correctly in the kpatch-build, we can't find the symbol in the vmlinux.

[2016-01-04 08:12] zhouchengming1 commented on #574
Sorry, it's not an error. It's my fault, I used two different gcc and use --skip-gcc-check option. Please ignore this issue.

[2016-01-04 08:12] #574 closed

[2016-01-12 21:28] arges commented on #478
Hi,
I've finally started implementing this and have a non-functional patchset. I'd appreciate some advice as I'm getting a little stuck. I'll explain my process to help give some context.

After creating the output.o object from `create-diff-object`, instead of linking this into the final kernel module this gets passed into `create-livepatch-object`.  The `create-livepatch-object` program then use

[2016-02-03 18:25] dandart opened #576 "[4.5-rc2] [ubuntu 15.10] error: ‘struct module’ has no member named ‘module_core/core_size/core_ro_size’"
Compiling I get errors like:

/home/kvd/kpatch/kmod/core/core.c: In function ‘kpatch_write_relocations’:
/home/kvd/kpatch/kmod/core/core.c:586:48: error: ‘struct module’ has no member named ‘module_core’
  unsigned long core = (unsigned long)kpmod->mod->module_core;
                                                ^
/home/kvd/kpatch/kmod/core/core.c:587:38: error: ‘struct module’ has no member name

[2016-02-03 18:55] flaming-toast commented on #576
Unfortunately the kpatch core module hasn't been updated yet to work with the latest upstream kernels, since we're slowly weaning off dependence on the kpatch core module and focusing our efforts on upstream livepatch. If you would like to try out kpatch, I'd recommend setting CONFIG_LIVEPATCH for your custom kernel and try compiling a patch module for kernel versions 4.4 (or 4.3?) or lower, since

[2016-02-04 09:36] dandart commented on #576
Ah I may have misunderstood the purpose of this. I want to use Livepatch but I don't know what userspace tools to use.

[2016-02-04 14:32] blade1989 opened #577 "Can kpatch also be used in CentOS 6.6?"
Sorry, if this is not the place to ask, but does kpatch also support CentOS 6.*?

Also, is this a "stable" product. Meaning can this be used on a production machine?

[2016-02-04 14:47] jpoimboe commented on #577
kpatch doesn't work on CentOS 6 because it's missing the ftrace feature which kpatch relies on.

I do consider it stable for production use, but only if you're very careful with your patch analysis.

FYI the kpatch mailing list is probably a better place to ask general questions.

[2016-02-04 14:47] #577 closed

[2016-02-04 19:01] flaming-toast commented on #576
You can use the kpatch-build utilities to build patch modules for a livepatch enabled kernel :-) Just with kernel versions < 4.5.

[2016-02-04 19:15] dandart commented on #576
Aha, gotcha. Thanks

[2016-02-04 22:08] flaming-toast commented on #576
Closing issue for now, feel free to open up another issue if you run into any other problems.

[2016-02-04 22:08] #576 closed

[2016-02-04 22:16] flaming-toast opened #578 "core kpatch module: change mod->module_core to mod->core_layout"
As reported in issue #576 , commit 7523e4dc5057e157212b4741abd6256e03404cf1 upstream has broken the core kpatch module, update references to mod->module_core to the appropriate fields from mod->core_layout

[2016-02-10 21:05] jpoimboe commented on #478
@arges, sorry for taking so long to respond.  I got pulled in other directions and completely missed your comment.  I think the relocations will be tricky to deal with.

I feel bad for saying this because I know you put a lot of effort into this.  But I'm thinking this isn't such a good idea after all.  I agree with my original self when I said that build complexity is better than runtime complexi

[2016-02-10 21:21] arges opened #580 "Crashes when patching kvm_arch_vm_ioctl"
I've noticed kernel oopses, invalid opcodes, or corrupted stacks when trying to
produce a livepatch for CVE-2015-7513. In starting to debug this I've pared
down the problem and tested a few things but have not root caused this yet.

Steps to reproduce:
1. Produce a livepatch using [1]. This simply adds a printk to `kvm_arch_vm_ioctl`.
2. I built this using 'kpatch-build' and have tested it using k

[2016-02-10 21:32] arges commented on #478
No problem, at least it was educational.

[2016-02-10 22:00] jpoimboe commented on #478
@arges I like your attitude.  Thanks :-)

[2016-02-10 22:00] #478 closed

[2016-02-10 22:14] jpoimboe commented on #580
I was able to recreate on Fedora:
[code]

[2016-02-10 22:23] jpoimboe commented on #580
Looks like a problem with kpatch-build.  The relocations look all wrong.

The original function's rela section has 67 entries, whereas the replacement function only has 2.

Original:
[code]
Replacement:
[code]

[2016-02-10 22:37] jpoimboe commented on #580
Actually, scratch that, the relocations might be missing because they were converted into dynrelas.  Still looking...

[2016-02-10 23:36] jpoimboe commented on #580
I added some trace_printk() calls and it seems to be dying in local_irq_disable().  I bet there's some weird interaction between paravirt patching and kpatch dynrela patching.

[2016-02-10 23:50] jpoimboe commented on #580
So this seems to be another module loading order issue.

In `load_module()`, first it does normal relocations, then it calls `post_relocation()` which calls `module_finalize()` which applies paravirt patches.  Then, when the notifier is called, kpatch applies the dynrelas.  The problem is that it tries to apply the dynrelas to the original code, not the paravirt-patched code.  So it patches the wr

[2016-02-11 15:48] jpoimboe commented on #580
The dynrelas need to be written before the paravirt and "alternative" patches are applied.  For livepatch we'll need to change the module load initialization order again.  The current order is:

1. apply normal relocations
2. initialize kallsyms
3. apply paravirt and alternative patches
4. enable ftrace
5. enable livepatch (apply livepatch relocations and patch functions)

We need to split step 5

[2016-02-11 18:38] flaming-toast commented on #580
@jpoimboe Nice findings. I was also able to confirm the issue and reproduce the general protection faults. I can confirm that applying the paravirt and alternative patches *after* `klp_write_module_relocs()` resolved the issue (patch applies without issue, VM runs, and no more kernel panics).

The hacky fix I put together involved having `module_finalize()` skip applying the patches if it is a liv

[2016-02-11 21:08] jpoimboe commented on #580
@flaming-toast What do you think about the following idea?  It seems so simple that I'm probably missing something.

What if we resolved klp symbols in `simplify_symbols()` and resolved klp relocations in `apply_relocations()` like so (this is based on top of both of your pending patch sets on the livepatch mailing list):
[code]

So basically split klp_module_coming() into three different function

[2016-02-11 21:15] jpoimboe commented on #580
I knew I missed something obvious... I guess we still need that info for patching a module after it has already been loaded.

[2016-02-11 21:20] jpoimboe commented on #580
But still, if I didn't miss anything else, something like the above patch might be a good way to solve the panics.

[2016-02-11 21:47] flaming-toast commented on #580
Hm, I think we would still run into the same ordering problem (`apply_paravirt` getting called before livepatch applies relocations) for unloaded modules, wouldn't we? Say we are patching an unloaded module, then `klp_apply_relocation()` in your sample code would have to be delayed until the module loads. Then `module_finalize()` gets called immediately afterwards and applies the paravirt and "alt

[2016-02-11 22:15] jpoimboe commented on #580
Ok, that patch is garbage :stuck_out_tongue_winking_eye: I completely overlooked the fact that 1) SHF_RELA_LIVEPATCH and SHN_LIVEPATCH are in the patch module, not the *patched* module; and 2) the patch can be loaded *after* the patched module.  So this problem is worse than I realized.  Now I understand your suggestion solution.

[2016-02-17 14:57] #493 closed

[2016-02-17 21:34] #578 closed

[2016-03-18 22:03] flaming-toast opened #584 "Recent struct stacktrace_ops change breaks kpatch core module"
The kpatch core module currently breaks with linux-next. A recent commit upstream (568b329a "perf: generalize perf_callchain") modifies the `struct stacktrace_ops` declaration in arch/x86/include/asm/stacktrace.h. This issue **doesn't** apply to the current 4.5 kernel release, so just noting for now that this might have to be fixed for 4.6.
[code]

[2016-03-21 14:29] euspectre commented on #580
A question concerning https://github.com/dynup/kpatch/issues/580#issuecomment-182925526, namely:

Why is it problematic for kpatch.ko to just skip relocations if they happen to be at the locations modified by paravirt mechanism?

If `apply_paravirt()` replaces an instruction with another one, we should not actually care about the dynrela for the original one, right?

As far as this particular exam

[2016-03-21 15:26] jpoimboe commented on #580
You're right for this specific example because the paravirt replacement instructions don't have relocations.  But more generally, it would be a problem in the case where the replacement instructions *do* have relocations.  In such a case we'd need to apply the dynrelas to the replacement instructions before the other patching code (paravirt, alternatives, etc.) gets a chance to copy them.  At leas

[2016-03-22 09:52] euspectre commented on #580
Is there a particular example when the replacement instructions have relocations that really need dynrelas? Or is it more of a precaution that such things may appear in the future?

As for paravirt operations on x86, it seems that only the indirect calls via the pointers stored in `pv_*ops` structures need relocations. However, most `pv_*ops` structures are exported by the kernel (except `pv_init_

[2016-03-22 16:05] jpoimboe commented on #580
Good question.  So far it's just been theoretical.  Today I've been looking for a specific instance and I haven't been able to find one.

I think if we tried to convert a rela in the `.rela.altinstr_replacement` section to a dynrela, it would fail.  But I haven't found a place in the kernel where a dynrela would be needed for that section.  Because all the relas in that section seem to be either f

[2016-03-23 10:52] vvoody opened #585 "Does kpatch support building patches for different versions of kernel in same environment?"
Hi!

Let's say I have a few servers, Ubuntu 14.04, having same kernel package installed `linux-image-3.13.0-46-generic`. Unfortunately, they were not built at same time. Some of them have version `3.13.0-46.77`, some have `3.13.0-46.79`.

To build patches for these two versions of linux kernel, I have to setup two virtual machines to run `3.13.0-46.77` and `3.13.0-46.79`, then build patches in par

[2016-03-23 14:06] euspectre commented on #580
I will patch the core module this way and experiment with it a bit. Let us see, how it goes.

Another approach could be to patch create-diff-object to avoid generating dynrelas for paravirt stuff. Haven't tried that yet either.

[2016-03-23 14:37] arges commented on #585
You can use `kpatch-build` options to specify a specific git repository, vmlinux, config, etc. See `kpatch-build -h`. Second, building for one Linux version will most likely _not_ apply for another release due to ABI changes; you'll need to rebuild for each kernel ABI change.

[2016-03-23 19:47] arges commented on #580
I'd be happy to test on this end too.

Would this mean creating a blacklist for symbols such as pv_cpu_ops and ensuring we don't create dynrelas for those symbols? Or is there another mechanism to detect if a function contains pv instructions.

[2016-03-23 22:36] flaming-toast commented on #580
I am very confused about the dynrela skipping idea. What kind of dynrelas are we talking about? If we have a section `.altinstr_replacement` and a corresponding rela section `.rela.altinstr_replacement` and dynrelas that also apply to `.altinstr_replacement`, why would it be OK to skip those dynrelas? Or am I misunderstanding something completely?

On the topic of dynrelas affecting replacement in

[2016-03-24 06:02] vvoody commented on #585
@arges Thanks, Chris.

For Q1, kpatch can specify kernel source, but kpatch requires debug symbol package, right? Say we run an system with kernel packages linux-image-3.13.0-46-generic, linux-headers-3.13.0-46-generic, linux-image-extra-3.13.0-46-generic and linux-tools-3.13.0-46-generic installed. This linux kernel release is 3.13.0-46-generic, but there are a few minor versions of this release,

[2016-03-24 11:23] euspectre commented on #580
.parainstructions section is available in the object file, along with its rela section. So, create-diff-object could read these, get the locations of paravirt instruction sites and skip generating dynrelas for those instructions.

Thanks for pointing this out. I did not think alternatives use such functions. Will take a look.

As for paravirt, I wonder why create-diff-object created dynrelas for t

[2016-03-28 09:55] euspectre commented on #580
Here is the patch: https://github.com/euspectre/kpatch/commit/2bd551994a92490e940f8aa3b7e8a8fc25ac7e42

With it, KVM seems to work OK for my VMs when your binary patch for `kvm_arch_vm_ioctl` is used.

I still do not understand, however, why create-diff-object created dynrelas for `pv_irq_ops`, which is exported by the kernel. Need to dig further in.

[2016-03-28 10:08] euspectre commented on #580
This is quite strange. I checked .altinstr_replacement of kvm.ko (kernel 3.10.x, a RHEL-like OS, x86_64). Only the following kinds of replacement instructions are listed there:

* mfence, lfence, xsaveopt64(%rdi), rex popcnt %edi,%eax, stac, clac - these ones do not need relocations at all.
* call near relative to `copy_user_generic_string` and `copy_user_enhanced_fast_string` - these instructions

[2016-03-28 13:36] euspectre commented on #580
Well, as for dynrelas for `pv_irq_ops`, GDB did tell what happened, indeed. ;-)

When a module should be patched, and dynrelas are being prepared, create-diff-object only checks if a symbol is global and if it is defined in the module itself, right?

`lookup_global_symbol()` does not find `pv_irq_ops` symbol in kvm.ko, so the symbol is considered external and a dynrela is created. No matter whethe

[2016-03-28 20:38] arges commented on #580
@euspectre
FWIW, I translated what you did for kpatch into livepatch code, since I haven't really been using the kpatch core code here:

[code]

Using this I was able to patch with my original patch and start a VM without a crash.

However, noting @flaming-toast 's comments here: https://github.com/dynup/kpatch/issues/580#issuecomment-200570699
She mentioned that we be applying these relocations a

[2016-03-28 22:21] flaming-toast commented on #580
@euspectre  @arges First, thanks for taking the time to look into this issue! I can confirm that both patches fixed the panic and I'm able to run a VM without any issues.

I still have some concerns. I need to preface this by noting that I am not entirely familiar with the paravirtualization code in the kernel, so someone who is more familiar should weigh in and let me know if my concerns are vali

[2016-03-29 13:29] euspectre commented on #580
Just to make it clearer: I agree, that skipping dynrelas is error-prone and livepatch should use a finer solution suggested by @flaming-toast.

Some projects may still rely on the Kpatch core module though, untill livepatch matures. For kpatch.ko, there are three options, as far as I can see:
* skip these dynrelas;
* check for the exported symbols using Module.symvers, similar to https://github.co

[2016-03-29 13:56] luceneli opened #586 "Can kpatch work with kernel 4.x?"
I am using self compiled kernel 4.x on CentOS 7 and I know kernel 4.x supports livepatch, Does kpatch work with kernel 4.x? Do I need extra change for kpatch to work with 4.x?

[2016-03-29 16:39] flaming-toast commented on #580
@arges  Thanks for posting on the livepatch mailing list :-)

@euspectre Ah, so we are on the same page then :-) Yeah, I agree for kpatch.ko we will have to go with one of the solutions you listed. I think I like the solution you have now, it is IMO the most succinct way to go about it "bandaging" kpatch.ko until we are able to deprecate it. @jpoimboe is away for this week, so maybe he could weigh

[2016-03-29 17:22] flaming-toast commented on #586
You shouldn't have any issues using kpatch with 4.x kernels. The kpatch-build tools should build the correct patch module depending on whether `CONFIG_LIVEPATCH` is enabled or not. Feel free to comment if you run into issues.

[2016-03-29 18:58] flaming-toast commented on #585
@vvoody I'm afraid there isn't a way to specify a specific debugsym package  w/ kpatch-build yet. Usually it's just way easier to use kpatch-build with a specific source directory if you want to build for another version. Yes, it is a bit annoying if you don't want to supply the sources yourself. Pull requests are always welcome. :-)
For question 2, the answer is technically yes, it is possible to

[2016-03-30 05:16] luceneli opened #587 "ERROR: could not insert module kpatch-xxxx.ko: Invalid module format"
I tried to use kpatch on self compiled kernel 4.4 on CentOS 7, but it fails. here are my steps and messages:

**$kpatch-build -t drivers/gpu/drm/i915/i915.ko trace.patch -s /home/ttt/workspace/kernel-4.4**
Using source directory at /home/ttt/workspace/kernel-4.4
Testing patch file
checking file drivers/gpu/drm/i915/i915_gem_execbuffer.c
Reading special section data
Building original kernel
Buildin

[2016-03-31 14:25] luceneli commented on #587
The patch is quite simple, it just added one printk in the function i915_gem_do_execbuffer.
Yes, I can make sure the kernel running is the source I provided to kpatch-build.
And I tried to recompile your kernel with your source directory, reboot into that kernel, and try kpatch-build again. the result is the same.

[2016-04-03 03:37] luceneli commented on #587
This is my patch, could anyone help here?

$ cat printk.patch
diff --git a/drivers/gpu/drm/i915/i915_gem.c b/drivers/gpu/drm/i915/i915_gem.c
index dbdee03..bfb123b 100644
--- a/drivers/gpu/drm/i915/i915_gem.c
+++ b/drivers/gpu/drm/i915/i915_gem.c
@@ -1265,6 +1265,7 @@ int __i915_wait_request(struct drm_i915_gem_request *req,

 	might_sleep();
 	WARN(!intel_irqs_enabled(dev_priv), "IRQs disabled");

[2016-04-04 04:20] flaming-toast commented on #587
@luceneli Thanks for your patience. I was actually having trouble reproducing the error until I noticed that you supplied the `-t` (target) argument.

So normally, when you finish a complete kernel build, a Module.symvers table is generated at the end, containing a list of all exported symbols from a kernel build. Unfortunately I've discovered that the `-t` option has the side effect of only compi

[2016-04-04 04:22] flaming-toast commented on #586
Closing, if there aren't any other issues.

[2016-04-04 04:22] #586 closed

[2016-04-04 14:36] jpoimboe commented on #585
I think @vvoody 's questions have been answered, so I'm going to close this issue.  @vvoody if you have more questions, please reopen.  Or even better, use the kpatch mailing list.

[2016-04-04 14:36] #585 closed

[2016-04-04 14:57] jpoimboe commented on #580
@euspectre Your patch looks good to me as a temporary band-aid, with a few minor changes:

- It should probably use a higher priority printk, maybe a `pr_notice()` or `pr_warning()`?  In theory it could be covering up a bug, and we need to relay that possibility to the user somehow.

- The printk should try to give a slightly more user-friendly message.  Though the concept of dynrelas is hard to d

[2016-04-04 15:06] jpoimboe commented on #580
For reference, the livepatch version of this bug is discussed here:

  https://lkml.kernel.org/r/20160329120518.GA21252@canonical.com

[2016-04-04 15:18] euspectre commented on #580
Thanks for the review.

I'll update the patch and send a pull request then.

[2016-04-06 17:39] flaming-toast opened #589 "kpatch-build with -t argument only builds patch modules with partial Module.symvers"
Documenting the bug found in issue #587, since the `-t` target argument only compiles the relevant portion of the kernel, only a partial Module.symvers gets generated, which is then compiled with the patch module. The full Module.symvers needs to be used instead.

[2016-04-11 17:08] flaming-toast commented on #587
Closing this issue since there haven't been responses and issue #589 has been opened. @luceneli please feel free to open another issue if you run into any more problems.

[2016-04-11 17:08] #587 closed

[2016-04-14 22:36] flaming-toast commented on #584
Hm, I guess here we're going to have to do another `#if LINUX_VERSION_CODE...` block, one with the functions returning a value (as per the new function prototype change), and one with the old `void` functions. Not very pretty (these ifdefs are starting to accumulate..), but I guess there really isn't another choice!

[2016-04-28 21:06] #584 closed

[2016-04-29 02:55] bluezd opened #593 "Got an error while building kpatch"
CC [M]  /root/kpatch/kpatch/kmod/core/core.o
/root/kpatch/kpatch/kmod/core/core.c:47:28: fatal error: asm/stacktrace.h: No such file or directory

The kernel version is 3.10.0-327 in CentOS 7, and I have already installed the kernel-devel and debuginfo packages.

Could anybody have a look at it ?

I have another question about kpatch, in CentOS src rpm, under rpmbuild/SOURCES/centos-kpatch.x509, t

[2016-04-29 13:51] jpoimboe commented on #593
What do you see with the following?
[code]
That file should be provided by the `kernel-devel` RPM.

I don't have any involvement with the CentOS source RPM, but I'd guess those files are related to building signed kernel modules.

[2016-05-02 12:39] bluezd commented on #593
Thanks for your reply!

No such file or directory

# uname -m
ppc64le

It works properly under X86_64 platform.

Yes, I have already installed it.

As far as I know, kernel will generate its own x509 public and private
certificate files by using x509.genkey configuration file during
kernel building, and kernel will load the corresponding public x509
file for signing the kernel modules, not the kpa

[2016-05-02 12:42] bluezd commented on #593
Thanks for your reply!

What do you see with the following?

No such file or directory
# uname -m
ppc64le

It works properly under X86_64 platform.

Yes, I have already installed it.

As far as I know, kernel will generate its own x509 public and private
certificate files by using x509.genkey configuration file during kernel
building, and kernel will load the corresponding public x509 file for
sig

[2016-05-02 12:49] jpoimboe commented on #593
Ah, that explains it.  kpatch only supports x86_64 right now.

Sorry, I just don't know.  You should probably ask the CentOS folks.

[2016-05-03 21:58] #593 closed

[2016-06-24 15:53] NonerKao opened #597 "About the DATADIR variable in kpatch-build script"
Hi,

If I understand correctly, the subroutine find_dir has to assign a right value to DATADIR, which should be the kmod directory in the source tree.  However, the command make install only installs the kmod/patch part.  This seems to be insufficient because, in the subroutine find_core_symver, the script needs the access of kmod/core/Module.symvers.

Actually, I am packaging this project for Arc

[2016-06-28 06:19] jpoimboe commented on #597
I haven't looked into this problem much, but it seems to be working fine for me.  After a make install, I have:
[code]

[2016-06-28 21:49] flaming-toast opened #598 ".smp_locks incompatibility"
Although we regenerate and include `.smp_locks` in patch modules, this isn't sufficient enough for the module loader to correctly patch smp lock alternatives.

If we look at arch/x86/kernel/module.c, in `module_finalize()`, the module loader will only look for a single `.text` section to pass to `alternatives_smp_module_add()`. Thus if `alternatives_smp_{lock,unlock}()` get called, only the patch

[2016-06-28 22:22] flaming-toast commented on #597
@NonerKao Do you happen to have `BUILDMOD` manually set in your environment? By default it is set to "yes", and `kmod/core/Module.symvers` will be properly installed with `make install`. If it's set to "no"  none of the kmod/core stuff will be installed.

After running `make -d BUILDMOD=yes install` (-d for debug) from the repo root directory I see:
[code]

[2016-06-29 03:36] NonerKao commented on #597
Thanks for both of your comments.  I was looking at `/usr/local/share` only and didn't notice that Module.symvers was installed to somewhere under `/usr/local/lib`.  Sorry, that was my bad.
This issue can be closed.

[2016-06-29 03:44] flaming-toast commented on #597
@NonerKao No problem, glad the issue is resolved :-)

[2016-06-29 03:44] #597 closed

[2016-06-30 21:32] arges opened #599 "unexpected unreconcilable difference"
Use kernel sources before 09d9686047dbbe1cf4faa558d3ecc4aae2046054 and live patch as follows:

[code]
If you build you'll notice the following:

[code]

Looking at the code:
`mark_source_chains` calls `unconditional` which reads as follows:
[code]
So 'uncond' is contained here.

It seems like this should be a patchable condition and perhaps create-diff-object is creating a false negative.

[2016-06-30 23:29] jpoimboe commented on #599
This is due to the way kpatch tries to correlate static local variables between the old and new code.  Basically it errors out if you remove a static local.  This is pretty much a permanent limitation.

To work around it you'll basically need to get creative by changing the patch such that the static local `uncond` variable still exists.  It might be as simple as adding the variable to `translate_

[2016-07-01 02:15] flaming-toast commented on #599
@jpoimboe Just to clarify, is the reasoning behind this limitation to prevent potential data semantic changes? In other words, we cannot support situations where an old function references a static local (and might change it some way) and the corresponding new function no longer does, because we cannot guarantee that the data will continue to be used in the same way the old code (running kernel) e

[2016-07-01 04:39] jpoimboe commented on #599
Static locals are basically global variables because they outlive the function's scope.  They need to be correlated so that the new function will use the old static local via a dynrela.  That way patching the function doesn't inadvertently reset the variable to zero; instead the variable keeps its old value.  Otherwise it could cause some surprising behavior.

But there are several complications w

[2016-07-01 04:48] flaming-toast commented on #599
@jpoimboe Ah, I see. Thanks for the clarification!

[2016-07-01 14:49] arges commented on #599
@jpoimboe @flaming-toast
Tried to sum up comments here in the patch guide document since this may be useful for future users.
Thanks!

[2016-07-01 21:49] #599 closed

[2016-07-13 18:30] jpoimboe opened #602 "WARN_ON_ONCE detection is broken newer kernels"
WARN_ON_ONCE detection no longer works.

[code]

[2016-07-13 21:10] jpoimboe commented on #602
In fact this isn't a gcc change, but rather a new pattern that we hadn't seen before.  The `.data.unlikely` relocation is throwing kpatch off the scent.

[2016-07-13 21:14] jpoimboe commented on #602
This change in behavior was introduced by upstream commit dfbf2897d ("bug: set warn variable before calling WARN()").

[2016-07-15 18:07] #602 closed

[2016-07-19 13:04] rosslagerwall opened #604 "Resolving duplicate local functions"
The following patch fails to compile:

[code]

[code]

The problem is that both fs/ext3/dir.c and fs/ext4/dir.c define call_filldir. I haven't yet thought of a better way of handling this...

[2016-07-19 20:07] jpoimboe commented on #604
Are you sure?  I haven't investigated this yet, but at least in theory it already supports duplicate static function names.

Is ext4 compiled as a module?

[2016-07-19 21:13] rosslagerwall commented on #604
No, I'm not sure, but I assumed I was hitting https://github.com/dynup/kpatch/blob/master/kpatch-build/lookup.c#L176 - "dup file+symbol, unresolvable ambiguity"

The kernel has two symbols each called call_filldir, both part of "dir.c". How would you expect it to be able resolve the ambiguity?

This is a 3.10 kernel, with both ext3 and ext4 compiled into the kernel.

[2016-07-19 21:29] jpoimboe commented on #604
Ah right, that makes sense.

[2016-08-10 01:07] flaming-toast opened #606 "dynrelas not being rewritten after disabling and reenabling a patch module"
Say we have a patch module that patches a target module X. The patch module will break/panic after the following sequence of events:

1) Load module X
2) Load patch module (dynrelas are first written)
3) Disable patch module via sysfs
4) rmmod module X
5) modprobe module X
6) Renable patch module via sysfs (dynrelas get skipped this time around because we've already modified the instructions in st

[2016-10-18 11:46] euspectre opened #612 "Binary patch for CVE-2016-3134 fails to load (CentOS 7, kernel 3.10.0-327.4.4)"
I encounered the following problem while experimenting with Kpatch on CentOS 7 with kernel 3.10.0-327.4.4.

kpatch-build reports no errors when building a binary patch from the fix for CVE-2016-3134,
[netfilter-fix-unconditional-helper.patch](https://github.com/dynup/kpatch/files/536079/netfilter-fix-unconditional-helper.patch.txt), but the resulting binary patch fails to load with the following e

[2016-10-20 08:40] kamalesh-babulal opened #613 "PPC64LE support"
I am currently looking into getting livepatch hook to work on PPC64LE. As suggested on "Getting Involved " section, using this issue to discuss and brainstorm on idea's.

[2016-10-24 08:15] kamalesh-babulal commented on #613
Design is to introduce PPC64 specific bits to enhance kpatch, to build livepatch supported modules on PPC64 and guard kpatch specific information with #ifdef's.

To start with make kmod module to print, about the state of support on powerpc, while kmod
module is loaded.

diff --git a/kmod/core/core.c b/kmod/core/core.c
index 77c7290..5922d55 100644
--- a/kmod/core/core.c
+++ b/kmod/core/core.c
@@

[2016-10-24 14:02] jpoimboe commented on #613
I think the hardest part of this, by far, would be porting kpatch-build to work with ppc64le.  Before spending much time on that, it would probably be best to wait a few weeks, because we're going to be discussing the future of the livepatch patch creation tooling at Linux Plumber's Conference on Nov 2.

[2016-10-24 15:03] kamalesh-babulal commented on #613
Thank you. Agree, kpatch-build has been the toughest part. While trying to get the end to end simple patch working on ppc64le. Is there any virtual channel, through which. I can be part of livepatching micro-conference at plumbers or can I please get access to summary of discussions, incase it's put together at some place.

[2016-10-24 15:16] jpoimboe commented on #613
I don't think there's any way to participate or watch remotely, though there might be meeting minutes posted somewhere afterwards.  I'd recommend you watch the live-patching and kpatch mailing lists, and maybe LWN.  And we can keep this issue open as well.

[2016-10-25 04:19] kamalesh-babulal commented on #613
Sure, Thanks

[2016-10-27 05:05] linuxwind opened #614 "patch CVE-2016-5195 with centos7 kernel 3.10.0-327.4.5.el7.x86_64 error"
[root@localhost ~]# kpatch-build dcow.patch --skip-gcc-check
WARNING: Skipping gcc version matching check (not recommended)
Using cache at /root/.kpatch/src
Testing patch file
checking file include/linux/mm.h
checking file mm/memory.c
Reading special section data
Building original kernel
Building patched kernel
Extracting new and modified ELF sections
memory.o: changed function: __get_user_pages
m

[2016-10-27 14:08] jpoimboe commented on #614
kpatch-build is getting tripped up by the .h file change, which results in a tree-write rebuild.  This is indeed a kpatch-build bug.

To work around it for this patch, just move the FOLL_COW define to the .c file.

[2016-10-28 07:21] vvoody commented on #614
Hi, all.

I just tried kpatch for Dirty Cow, it just works. Here are my test environments:

- Ubuntu 14.04.2
- uname -a: 3.13.0-54-generic
- linux-image-$(uname -r): 3.13.0-54.91
- kpatch: git:667692639e7880cf811d2baeca34c632c1a9b02c
- kpatch-build -t vmlinux dirty-cow.patch --skip-gcc-check
- kpatch load kpatch-dirty-cow.ko

I used exploit code from https://www.exploit-db.com/exploits/40616/, whi

[2016-10-28 07:29] linuxwind commented on #614
when i use kpatch 0.2.2 on centos 7, it works now.

As my test, kpatch 0.3.4,0.3.3 doesn't work.

[2016-11-03 22:12] zhouchengming1 commented on #604
Hi, I think we can support this dup file+symbol situation. I have thought of two ways to handle this.

1. use base object elf to find the file in lookup table.
( I have implemented this, and test is ok for the above patch )

2. use call relationship to find a unique symbol.
( like A call B, and B is a dup file+symbol function, A is a unique function, so we can first find A
in the lookup table, and

[2016-11-03 22:39] zhouchengming1 commented on #612
Hi, I think you didn't specify the vmlinux when you do kpatch-build, did you?
So the vmlinux the kpatch-build uses will be the vmlinux compiled from the base code,
for some reason, this vmlinux is not the same as the vmlinux you are running,
like base-vmlinux has the symbol 'uncond.48011', but the running-vmlinux has the symbol
'uncond.48012', so report this error when you load the patch module.

[2016-11-03 22:59] zhouchengming1 commented on #598
I think if we can let the create-diff-object produce a object that more like a normal object, like has just one .text section ?
And as we don't use -ffunction-sections flag when we at last build the patch module, so we will have a patch module that just has one .text section, more like a normal module.
So how do you think?

[2016-11-04 22:57] zhouchengming1 commented on #606
Q: Is this also a problem to the livepatch core ( not the kpatch core module) ?
Because we can't modify back the code when the module goes away, so later when the module comes back, livepatch won't write new dynrelas ?

[2016-11-05 13:53] euspectre commented on #612
I extracted vmlinux from the corresponding RPM with debug info from CentOS's reports and did pass it to kpatch-build as usual.

I did the same (with the appropriate packages, of course) when building binary patches for 3.10.0-327.3.1 and 3.10.0-327.4.5 and the patch was built and worked OK.

By the way, the symbol uncond.48012 is not from vmlinux as you can see, but rather from ip6_tables.ko.

Aga

[2016-11-05 17:58] zhouchengming1 commented on #612
Oh, so any needed symbols of vmlinux will be the same, and will be found.

I think this maybe the problem, ip6_tables.ko the create-diff-object used is compiled from the base code, maybe not the same as the ip6_tables.ko your machine already loaded.

If local static symbols are correctly correlated, and can be found in the ip6_tables.ko the create-diff-object used, then no warning will be given.

[2016-11-05 18:14] zhouchengming1 commented on #612
Sorry, I didn't see this. So you use the same version gcc when you build kernel packages and do kpatch-build, then I thiink the numeric suffixes should be the same ( if code are the same) ...
Is there any possibility that some gcc flags may influence the numeric suffixes ?
Any ideas ?

[2016-11-05 20:43] euspectre commented on #612
Ah, so it becomes a bit clearer, thanks.
create-diff-object used the freshly built object files for the unpatched and patched ip6_tables.ko and correlated the static locals successfully. The original ip6_tables.ko that was running was not used there, that is why the problem was not detected. Makes sense.

They might, I think. IIRC, GCC uses the same counter for these suffixes when copying function

[2016-11-10 13:37] rosslagerwall opened #615 "ex_table relocation offsets are wrong"
The following patch (against 4.4) generates an exception table with relocations pointing to an offset in fixup table that is wrong:
[code]

[code]

The problem is that the fixup table is rewritten (with several entries removed), but the offsets in the ex_table are not updated.

[2016-11-10 22:13] jpoimboe opened #617 "KASLR support"
kpatch is broken on the latest Fedora 24 kernels which have CONFIG_RANDOMIZE_BASE enabled.

[2016-11-10 22:23] jpoimboe opened #618 "Detect out-of-range relocations"
It would be good to add a check at the end of create-diff-object to find any out-of-range relocations so we can find issues like #615 earlier.

[2016-11-10 22:27] jpoimboe commented on #613
@kamalesh-babulal Looks like we're sticking with kpatch-build, at least for now.  The other approach I proposed has some [issues](http://www.spinics.net/lists/live-patching/msg02958.html) with respect to gcc optimizations.

[2016-11-10 22:31] jpoimboe commented on #604
@zhouchengming1 Method 1 sounds good to me.

[2016-11-11 13:37] kamalesh-babulal commented on #613
@jpoimboe Thank you. Thanks for the notes from livepatching mini-conf. Does the initial approach of supporting livepatch hook for PPC sounds good, to begin with ?

[2016-11-11 13:39] kamalesh-babulal commented on #613
Have other presentation from miniconf, been uploaded other than gcc optimization one. Can you please point me to them.

[2016-11-11 22:06] jpoimboe commented on #613
If you really want to disable the kpatch core module for powerpc, I think it would be better to do it from the kpatch-build script instead of hacking up core.c.  Like:
[code]

[2016-11-11 22:07] jpoimboe commented on #613
Most of the slides from the LPC live patching microconf are linked on this page:

https://www.linuxplumbersconf.org/2016/ocw/events/LPC2016/tracks/525

[2016-11-15 21:23] joe-lawrence commented on #617
Hi Josh, I took a crack at backporting the upstream livepatch kallsyms callback and friends here: [617_KASLR_support](https://github.com/joe-lawrence/kpatch/compare/joe-lawrence:master...617_KASLR_support)  With those changes, if I can load kpatch modules once again on F24 + ```CONFIG_RANDOMIZE_BASE```.  Stock CentOS7 still loads as well.  Perhaps this is overkill and ```kaslr_offset()``` would ha

[2016-11-15 22:37] jpoimboe commented on #617
At first glance, looks good!  Open a pull request and we'll give it a proper review.

[2016-11-16 09:48] kamalesh-babulal commented on #613
Thank you for the suggestion. This approach looks cleaner than hacking core.c. For the clean compilation from top level directory, couple of changes to Makefile should resolve the build issue. Next step, is to identifying the special sections, while constructing the module. Makefile changes for the build, can be introduced later.

[2016-11-16 09:50] kamalesh-babulal commented on #613
Thanks for the pointer to the slides and Jon lwn.net coverage link over the mailing list.

[2016-11-24 21:21] JohnMHarrisJr commented on #586
This seems to be relevant again, after https://github.com/torvalds/linux/commit/c8fe4609827aedc9c4b45de80e7cdc8ccfa8541b

[2016-11-25 04:04] #615 closed

[2016-11-28 21:04] jpoimboe opened #623 "Support new x86 unwinder interface"
With Linux 4.9, dump_trace() will be replaced with a new unwinder interface.  Need to add support for it.

[2016-11-28 21:05] jpoimboe commented on #586
@JohnMHarrisJr Yeah, and unfortunately there are also some other problems with kernels >= 4.7.  We're working on getting them fixed soon.  The issues I know of: #607, #623, and #620 (Fedora 24/25).

[2016-11-29 21:31] #617 closed

[2016-12-05 16:18] joe-lawrence opened #625 "testing: meminfo-cmdline-rebuild-SLOW.patch fails to build on CentOS 7"
As seen when running #624 :

**OS:** CentOS 7
**kernel version**: 3.10.0-327.36.3.el7.x86_64
**gcc version**: gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

[code]

[2016-12-05 16:28] joe-lawrence opened #626 "testing: meminfo-cmdline-rebuild-SLOW.patch fails to build on Fedora 25"
As seen when running #624 :

[code]

**OS:** Fedora 25

**kernel version**: 4.8.6-300.fc25.x86_64
**gcc version**: gcc (GCC) 6.2.1 20160916 (Red Hat 6.2.1-2)

[2016-12-05 16:31] joe-lawrence opened #627 "testing: shadow-newpid.patch fails to build on Fedora 25"
As seen when running #624 :
[code]
[code]

**OS:** Fedora 25

**kernel version**: 4.8.6-300.fc25.x86_64
**gcc version**: gcc (GCC) 6.2.1 20160916 (Red Hat 6.2.1-2)

[2016-12-05 16:33] joe-lawrence opened #628 "testing: special-static.patch fails to build on Fedora 25"
As seen when running #624 :

**OS:** Fedora 25

**kernel version**: 4.8.6-300.fc25.x86_64
**gcc version**: gcc (GCC) 6.2.1 20160916 (Red Hat 6.2.1-2)
[code]

[2016-12-05 16:44] joe-lawrence opened #629 "testing: create-diff-object segfaults when building replace-section-references.patch on Fedora 25"
As seen when running #624 :

**OS:** Fedora 25

**kernel version**: 4.8.6-300.fc25.x86_64
**gcc version**: gcc (GCC) 6.2.1 20160916 (Red Hat 6.2.1-2)

[code]

[2016-12-05 21:26] jpoimboe commented on #614
This is a duplicate of #625.  Let's use that issue to track it because it better describes the issue and has a test case in the integration tests directory.

[2016-12-05 21:26] #614 closed

[2016-12-05 23:17] jpoimboe commented on #627
It looks like the setting of LDFLAGS_vmlinux="--warn-unresolved-symbols" is no longer working for some reason.

[2016-12-06 04:51] jpoimboe commented on #625
create-diff-object gets confused because the bad_from_user() asm function in copy_user_64.S is in the .fixup section.  It should really be in .text.  I'll submit a patch upstream to fix it.

[2016-12-06 04:51] jpoimboe commented on #625
(In the mean time, the bug can be avoiding by not changing header files.)

[2016-12-06 14:58] jpoimboe commented on #625
Actually bad_from_user() is going to be removed completely from the upstream kernel.  The change is already in the tip tree.  So this needs a fix either in RHEL or a workaround in kpatch.

[2016-12-07 15:17] joe-lawrence commented on #629
A little bit more information from another generated core file:
[code]
Possibly a red herring, these look bogus (according to comments, d_type is supposed to be ELF_T_RELA.):
[code]
Adding debug to kpatch_create_dynamic_rela_sections() for section with name
".rela.kpatch.dynrelas", I see the following:
[code]
but kpatch_create_dynamic_rela_sections() does no further processing of this
section, as

[2016-12-08 16:18] joe-lawrence commented on #626
I thought I tested this the other day, but apparently not... the fix works for me in my F25 setup.
:+1:

[2016-12-09 22:54] #625 closed

[2016-12-10 00:17] #626 closed

[2016-12-11 04:47] SvenDowideit opened #633 "dirtycow & 4.4.21 (ubuntu 4.4.0-42-62) error building"
I've been playing around with this for a day or so, but don't know enough to figure out what's up.

(using kpatch master at a963ee7 today, if that matters)

I've tried the normal dirtycow patch, and I've tried moving the define into gup.c, and also unrolling the new static function inline.

I'm consistently getting:

[code]

I presumed this was something on my end, but after being shown https://gi

[2016-12-11 17:09] jpoimboe commented on #633
I wonder if there's a mismatch between the binaries kpatch-build is building and the vmlinux which was provided to it.  It looks like the gup.o binaries built by kpatch-build have a local pmd_val symbol, whereas the vmlinux file does not.  Is kpatch-build using the same compiler toolchain and the same kernel config that were used to build the vmlinux file?

If that doesn't clear things up, the fol

[2016-12-12 07:37] #627 closed

[2016-12-12 10:42] SvenDowideit commented on #633
the builds should be identical, as all 3 builds are being done in the same container - but I've been having trust issues all week :)

I'm running `kpatch-build --sourcedir /usr/src/31c1f86-dirty/ dirtycow.patch --vmlinux /usr/src/31c1f86-dirty/vmlinux` - pretty much just after building the kernel with DEBUG_INFO

I'll gather the rest when I get back to civilization, it seems the 4g network here at

[2016-12-13 20:10] joe-lawrence opened #634 "testing: gcc-static-local-var-2.patch fails to build on Ubuntu 16"
(After working around the ```KERNEL_VERSION(4, 5, 0)``` checks in ```kmod/core/core.c``` and ```kmod/patch/livepatch-patch-hook.c``` to handle a backport of upstream [7523e4dc5057e](https://github.com/torvalds/linux/commit/7523e4dc5057e) "module: use a structure to encapsulate layout".)

**OS**: Ubuntu 16.04.1
**kernel version**:  4.4.0-53-generic
**gcc version**: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.

[2016-12-13 20:11] joe-lawrence opened #635 "testing: meminfo-cmdline-rebuild-SLOW.patch fails to build on Ubuntu 16"
(After working around the ```KERNEL_VERSION(4, 5, 0)``` checks in ```kmod/core/core.c``` and ```kmod/patch/livepatch-patch-hook.c``` to handle a backport of upstream [7523e4dc5057e](https://github.com/torvalds/linux/commit/7523e4dc5057e) "module: use a structure to encapsulate layout".)

**OS**: Ubuntu 16.04.1
**kernel version**:  4.4.0-53-generic
**gcc version**: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.

[2016-12-13 20:30] joe-lawrence opened #636 "kpatch and patch module builds fail on Ubuntu 16.04"
**OS**: Ubuntu 16.04.1
**kernel version**:  4.4.0-53-generic
**gcc version**: gcc (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

For kpatch:
[code]
The build fails because Ubuntu backported upstream [7523e4dc5057e](https://github.com/torvalds/linux/commit/7523e4dc5057e) "module: use a structure to encapsulate layout".  The kpatch code currently wraps the code in question around ```#if LINUX_VERSI

[2016-12-13 20:48] joe-lawrence commented on #636
From ```apt-get changelog linux-image-4.4.0-53-generic```:
[code]

[2016-12-13 23:02] SvenDowideit commented on #633
(the original non-kpatch build vmlinuz)
[code]

[2016-12-14 02:13] jpoimboe commented on #633
Hm, my original theory about a compile mismatch was probably wrong.  I'm guessing all those pmd_val()'s are places where gcc decided to un-inline pmd_val() from arch/x86/include/asm/paravirt.h, due to CONFIG_OPTIMIZE_INLINING.  But that shouldn't be a problem.  Can you provide your kernel config and the gcc version?  Going to see if I can recreate.

[2016-12-14 03:58] SvenDowideit commented on #633
darn :)

`gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4)`

[config.txt](https://github.com/dynup/kpatch/files/650766/config.txt)

I'm actually building this for RancherOS, and from the next release, we're hoping to be using mainline 4.9, but its a useful learning place for us.

[2016-12-14 04:42] jpoimboe commented on #636
We should probably add an Ubuntu-specific kernel version check.  Also we should try to encapsulate all these kernel version checks in separate functions where possible to make the code cleaner.

@arges Do you guys have a fix for this in your 16.04 kpatch-build package?  Patches welcome :-)

[2016-12-14 05:10] arges commented on #636
Yes, I have some distro-patches to detect the version then add the proper ifdefs so things compile. I can send them after I test it a bit.

[2016-12-14 15:45] jpoimboe commented on #636
@arges Thanks!  BTW if you guys are carrying any other patches, you're more than welcome to push them upstream.  It would be good for upstream kpatch to work with distros as much as possible out of the box.

[2016-12-14 17:03] jpoimboe commented on #633
Nice, I had no idea github supported attachments.  Will see if I can recreate.

[2016-12-14 20:49] jpoimboe commented on #633
I was able to recreate it.  This is actually a duplicate of #604.  In retrospect we should have had a better error message for this.  Will follow up on that issue.

[2016-12-14 20:49] #633 closed

[2016-12-14 20:50] jpoimboe commented on #604
@zhouchengming1 Did you say you had a patch for this?  Would you like to share it? :-)

[2016-12-15 13:45] arges commented on #636
Cool, will do.

[2016-12-16 18:34] joe-lawrence commented on #479
/digging up this bug since I hit it using ```kpatch load``` on Ubuntu 16.04 (which has ```CONFIG_LIVEPATCH``` set.)  Keying off of ```/sys/kernel/{live,k}patch``` is probably the easiest thing to code into the ```kpatch``` script, however I wondering about a situation where a livepatch-enabled kernel has ```kpatch.ko``` loaded.  Should the ```kpatch``` script consider ```/sys/kernel/livepatch``` a

[2016-12-16 18:55] #636 closed

[2016-12-16 20:43] jpoimboe commented on #479
Good question.  kpatch-build already decides which type of module to build based on CONFIG_LIVEPATCH, so it shouldn't even be possible for kpatch modules to be built for a livepatch-enabled kernel.  And nobody has complained about that.  So I think looking at `/sys/kernel/livepatch` is fine.

In any case kpatch.ko will hopefully be obsolete soon, shortly after the livepatch consistency model gets

[2016-12-16 20:44] jpoimboe commented on #479
BTW, another reason kpatch.ko shouldn't be supported for livepatch kernels is that we don't want people loading both types of modules on the same system, as fireworks may ensue.

[2016-12-16 20:55] joe-lawrence commented on #479
So a patch to disable the ```kpatch.ko``` build when ```CONFIG_LIVEPATCH``` to avoid :bomb: :boom: :fire:
And another for kpatch script to determine the sysfs directory (I was thinking of a global ```$SYSFS```, set to ```/sys/kernel/{live,k}patch``` accordingly).

[2016-12-16 21:07] jpoimboe commented on #479
Sounds good.

[2016-12-16 21:56] flaming-toast commented on #479
@joe-lawrence Just a heads up, I think there might be  some kpatch-specific checks in the kpatch script. The `.kpatch.checksum` check (`verify_module_checksum`) comes to mind; even though our `kpatch-build` script tacks on this section regardless of whether its building a kpatch or livepatch module, livepatch modules currently don't even know about it and don't export such a checksum to sysfs. So,

[2016-12-16 22:28] jpoimboe commented on #479
@flaming-toast If I understand correctly, the checksum sysfs code can't be ported to the livepatch hook because the livepatch sysfs entries are created by the upstream livepatch code.

So then I guess we need to figure out if we care enough about the checksum feature to try to get it ported to upstream livepatch.  It's Friday afternoon so I don't have an opinion yet :-)

[2016-12-17 00:18] flaming-toast commented on #479
@jpoimboe Whoops, you are right. So looks like we can't do it from livepatch-patch-hook after all.

I needed to refresh my memory on why we added the checksum section :-) See here: https://github.com/dynup/kpatch/issues/343#issuecomment-52645394
I think the checksum was added to provide an extra safety check against the following situation:
1) User runs `kpatch load kpatch-foo.ko`
2) User runs `ec

[2016-12-17 16:45] joe-lawrence commented on #479
@flaming-toast - does ```srcversion``` require the macro in order to show up?  I've used it in the past in a DKMS-type module rebuilding script, but I didn't recall having to do anything special to add it (maybe the macros were already in place :)

Regardless of which unique identifier we end up picking, and in the interest of backwards compatibility, should the ```kpatch``` script only verify the

[2016-12-19 14:00] jpoimboe commented on #479
If there isn't an easy and simple way to support checksums, I would vote to just drop that feature, and assume that a patch with the same name has the same content.  In practice, we do versioning by changing the patch name, and I think that is a common and reasonable approach.

[2016-12-19 18:39] joe-lawrence commented on #479
If comparing checksums only when one is present in sysfs is sufficient (ie, kpatch only, or if livepatch ever adopts one), then [this commit](https://github.com/joe-lawrence/kpatch/commit/d55b58cc16a4fbb530c076f67eabdbad84771120) should do the trick.  At least with this in place, load/install/unload* actions work on both CentOS (kpatch) and Ubuntu (livepatch) installs.

*unload doesn't actually re

[2016-12-19 23:13] jpoimboe commented on #629
As it turns out, this is a duplicate of #628, and it will be fixed by PR #643.

[2016-12-19 23:13] #629 closed

[2016-12-19 23:31] jpoimboe commented on #629
Create PR #644 to print an error message instead of seg faulting for this condition.

[2016-12-20 15:58] joe-lawrence commented on #629
:+1:

@jpoimboe : for PR #624 should we rename ```fedora-25/replace-section-references.patch``` with a "-FAIL" so ```kpatch-test``` knows the expected outcome?

[2016-12-20 16:30] jpoimboe commented on #479
@joe-lawrence that's fine, we can continue to support checksums for kpatch.ko without breaking livepatch.

[2016-12-20 16:30] #628 closed

[2016-12-20 22:38] #479 closed

[2016-12-22 10:53] kamalesh-babulal opened #648 "kpatch-build breaks on Ubuntu with stock kernel"
Distro: Ubuntu 16.10
Kernel: 4.8.5
gcc: 5.4.1

kpatch-build breaks, while creating livepatch hook based module.

make[2]: Entering directory '/root/.kpatch/obj'
      CC [M]  /root/.kpatch/tmp/patch/patch-hook.o
    In file included from /root/.kpatch/tmp/patch/livepatch-patch-hook.c:28:0,
                     from /root/.kpatch/tmp/patch/patch-hook.c:21:
    /root/.kpatch/tmp/patch/livepatch-patc

[2016-12-22 11:05] kamalesh-babulal commented on #648
#649 kpatch-build: Add UTS_UBUNTU_RELEASE_ABI tag for non-stock kernel pull request, attempts to fix this issue.

[2016-12-22 11:33] kamalesh-babulal commented on #613
#650 [RFC] ppc64le livepatch hook support

It's the first attempt to get end-to-end patching for ppc64le livepatch hook support.

[2016-12-23 01:19] zhouchengming1 commented on #604
Sorry, I almost forgot it. I will send the patch today when I have time. Thanks for your reminding.

[2017-01-12 22:07] jpoimboe commented on #612
Sorry for the delay in looking at this.  While I haven't looked into this problem very deeply, I suspect this is a known issue: #545.  'uncond' is a static local variable.  gcc always adds the numeric suffix to static local variables.  That numeric suffix is based on the symbol token identifier, which is subject to change after patching the code.

#545 is an important issue, we just haven't found

[2017-01-19 14:31] joe-lawrence commented on #648
@kamalesh-babulal - Since PR #649 was merged, can we consider this closed?

[2017-01-19 16:42] #648 closed

[2017-01-19 21:27] jpoimboe opened #657 "detect __might_sleep()-related line number changes with CONFIG_DEBUG_ATOMIC_SLEEP"
Similar to our WARN change detection, we also need detection for __might_sleep() calls when CONFIG_DEBUG_ATOMIC_SLEEP is enabled.  I saw this when making a patch which added a line to poll_schedule_timeout().

Before:
[code]
After:
[code]
The only change was the line number provided as an argument to __might_sleep().  It would be nice for kpatch-build to ignore such changes.

[2017-01-20 20:27] janeczku commented on #604
@zhouchengming1 looks like you getting there?

[2017-01-21 05:58] zhouchengming1 commented on #604
@janeczku  , sorry, I do not quite understand what you mean :)

[2017-01-22 23:20] janeczku commented on #604
@zhouchengming1 i did not realize that you had already opened the PR here https://github.com/dynup/kpatch/pull/651. All good 😃

[2017-01-23 21:04] jpoimboe opened #660 ""module is marked as livepatch module, but livepatch support is disabled""
When building a kpatch.ko based module for an upstream kernel with CONFIG_LIVEPATCH=n, it fails to load with:
[code]
I think the problem is that with #654, kpatch now sets MODULE_INFO(livepatch, "Y"), even for kpatch.ko based modules.  But the upstream kernel refuses to load any such modules if that modinfo flag is set.

Maybe we should remove that flag from kpatch-patch-hook.c and instead go back

[2017-01-23 21:32] joe-lawrence commented on #660
argg, the case that #654 didn't test :frowning_face:

I think dropping ```MODULE_INFO(livepatch, "Y")``` and bringing back ```add_taint``` should get the module loaded.  ```set_bit(TAINT_LIVEPATCH)``` would then apply the per-module taint flag.

Adjusting the taints flag directly feels a bit underhanded, though I guess not terrible since we would only be setting them.  Unfortunately I think this t

[2017-01-23 21:46] jpoimboe commented on #660
Agreed, though "underhanded" is kpatch's middle name :-)

Yes, though if we're going with this technique, we might consider reverting those patches since I guess they aren't needed after all?

[2017-01-23 22:15] joe-lawrence commented on #660
Good point.

What do you think about this alternative approach:
* In kpatch-patch-hook.c, wrap the MODULE_INFO(livepatch, "Y") around #ifdef RHEL >= 7.4

That would avoid us from having to fiddle with the taint flags from the module itself.

[2017-01-23 22:24] jpoimboe commented on #660
But then what would be the taint strategy for other kernels?  Call set_taint()?

[2017-01-23 22:26] joe-lawrence commented on #660
Right.  It's after 5pm and I'm not thinking straight :D

[2017-01-26 14:44] joe-lawrence commented on #660
Fixed by PR #662, but @joe-lawrence botched the "Fixes" notation in the commit message, so it wasn't auto-closed.

[2017-01-26 15:07] joe-lawrence opened #664 "testing: custom scripts have '}' appended to them"
As seen when running the (default) long kpatch-test:
[code]
It looks like an extra '}' character was introduced by 5db4e232ee12a03bf2405e3c74c3542317f6ebb9 "testing: use common Makefile".
[code]
The ```prefix``` is only used here in the subsequent log command, so this is just a cosmetic bug.

[2017-01-26 15:48] #660 closed

[2017-01-26 18:59] #664 closed

[2017-01-30 17:57] #623 closed

[2017-01-30 22:00] jpoimboe commented on #521
Also would be good to come up with a way to ensure that, for each patch, what we think is getting tested is actually getting tested.

[2017-01-30 22:16] jpoimboe commented on #521
Pipe dream: codify what is being tested and then automatically generate patches to achieve that.  Then we wouldn't need kernel-specific patches...

[2017-02-02 14:11] marcin-github opened #666 "Compilation error: kmod/core/core.c:992:27: error: passing argument 2 of ‘set_bit’ from incompatible pointer type [-Werror=incompatible-pointer-types]"
Hi!
I'm getting compilation error:

  CC [M]  /var/tmp/kpatch/kmod/core/core.o
/var/tmp/kpatch/kmod/core/core.c: In function ‘kpatch_register’:
/var/tmp/kpatch/kmod/core/core.c:992:27: error: passing argument 2 of ‘set_bit’ from incompatible pointer type [-Werror=incompatible-pointer-types]
  set_bit(TAINT_LIVEPATCH, &kpmod->mod->taints);
                           ^
In file included from ./includ

[2017-02-02 14:31] joe-lawrence commented on #657
Trying to reproduce this and kpatch-build succeeds, despite the line number discrepancy:

[code]
Was this expected to succeed by using the new line number?  (And do you want kpatch-build to revert back to the original line number instead of using the new one.)

[2017-02-02 14:32] jpoimboe commented on #666
@marcin-github Thanks for reporting it.  I'm guessing you have Linux 4.9?

Linux 4.9 has the module-specific livepatch taint (2992ef29ae01), but the conversion of mod->taints to long (7fd8329ba) isn't until 4.10.  So we shouldn't be doing the set_bit() with 4.9.

Maybe we can just skip setting the module-specific taint on 4.9, and change the setting of HAS_MODULE_TAINT to >= 4.10.  @joe-lawrence,

[2017-02-02 14:38] jpoimboe commented on #657
Yeah, it succeeds.  The problem is that it reports the function as changed.  We want it to ignore any changed functions when the only change in that function is the changed line number from the `__LINE__` macro.

[2017-02-02 14:41] marcin-github commented on #666
You are right, I'm using 4.9.

[2017-02-02 14:42] joe-lawrence commented on #666
@jpoimboe -- yup, double checking now and the commit/releases timeline is correct.

So really there are three! possible taints - kernel, module (int), and module (long).  Would it make sense to convert ```HAS_RHEL7_MODULE_TAINT``` into ```HAS_LONG_MODULE_TAINT``` ?

[2017-02-02 14:48] jpoimboe commented on #666
@joe-lawrence Yeah, that sounds like a good idea.

[2017-02-03 13:36] marcin-github commented on #666
With this patch kpatch build without problem.
I'm reading readme and trying to do my first live kernel patch. kpatch-build throws:
ERROR: can't find special struct size.

It looks that gawk can't find needed information from output of `readelf -wi`. Should I continue looking for help of the problem here, in new issue or at https://www.redhat.com/mailman/listinfo/kpatch ?

[2017-02-03 14:19] joe-lawrence commented on #666
@marcin-github - thanks for testing the fix!  As far as the ```ERROR: can't find special struct size``` msg goes, can you provide the ```kpatch-build``` command line and if you've got a stock or custom kernel installed?

[2017-02-03 14:32] marcin-github commented on #666
Thanks for fix:) I'm using custom kernel. I've copied source tree to temporary directory, then I run:
`./kpatch-build  -s /var/tmp/portage/linux-bcache-kpatch/ /tmp/meminfo-test.patch`

[2017-02-03 14:44] joe-lawrence commented on #666
That kpatch-build invocation looks correct, so open a new issue and add:  gcc version, output from that ```readelf | gawk``` script in kpatch-build that you've noted.  Attaching your kernel .config might be useful as well.  Thanks.

[2017-02-03 15:05] marcin-github opened #668 "Message ERROR: can't find special struct size."
I'm trying to use `kpatch-build` on custom 4.9 kernel. I invoked it in this way:
`./kpatch-build -s /var/tmp/portage/linux-bcache-kpatch/ /tmp/meminfo-test.patch`
`Skipping cleanup`
`Using source directory at /var/tmp/portage/linux-bcache-kpatch`
`Testing patch file`
`checking file fs/proc/meminfo.c`
`Reading special section data`
`ERROR: can't find special struct size`

Output of `readelf | gawk`

[2017-02-03 15:19] marcin-github commented on #668
I'm trying to upload `.config` but github hangs with "Uploading your files..."

[2017-02-03 15:30] marcin-github commented on #668
[config.txt](https://github.com/dynup/kpatch/files/750847/config.txt)

[2017-02-03 16:29] joe-lawrence commented on #668
@marcin-github - does ```readelf -wi /var/tmp/portage/linux-bcache-kpatch/vmlinux``` have _any_ output?  (or does ```file vmlinux``` state that the ELF is stripped?)

[2017-02-03 18:56] joe-lawrence commented on #657
I see now...  I've got something working (modelled after ```kpatch_warn_only_change()```) but would like to inspect a few other builds to confirm that gcc doesn't change the pattern.  Also, are there other macros/inlines that might introduce the same line number changes?

[2017-02-03 20:46] jpoimboe commented on #657
I'm sure there are other macros or inline functions out there which use `__LINE__`.  But we don't need to fix them all, because detecting them is such an inexact science.  And we have a manual workaround: KPATCH_IGNORE_FUNCTION.  So I think we should only fix the common ones which we think we can reliably detect without false positives.  WARN definitely fits in that category, and might_sleep() pro

[2017-02-05 21:54] ric96 commented on #666
hmmm.... anyone getting this:
[ric@localhost kpatch-stuff]$ kpatch-build -t vmlinux meminfo-string.patch
Using cache at /home/ric/.kpatch/src
Testing patch file
checking file fs/proc/meminfo.c
Hunk #1 FAILED at 95.
1 out of 1 hunk FAILED
ERROR: source patch file failed to apply.
[ric@localhost kpatch-stuff]$

the patch applies fine using git apply, same patch as that of the example
kernel source:

[2017-02-06 11:11] marcin-github commented on #668
Hi!
I didn't strip vmlinux (at least intentionally).
`# readelf -wi /var/tmp/portage/linux-bcache-kpatch/vmlinux |wc -l`
`22889`
`# file /var/tmp/portage/linux-bcache-kpatch/vmlinux
/var/tmp/portage/linux-bcache-kpatch/vmlinux: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), statically linked, BuildID[sha1]=ac351beb6cc98c9b0848d7176bd8c07b2d41e79f, not stripped

`# gawk -V`
`GNU Awk 4.1.4, AP

[2017-02-06 13:53] joe-lawrence commented on #668
Hmm, I get a lot more output from readelf on my fedora/upstream build:
[code]
Is your ```vmlinux``` truncated by any chance?  @jpoimboe - any ideas?  Could there be a ```.config``` option that is removing this information?

[2017-02-06 14:28] marcin-github commented on #668
Hmm, I've options set:
CONFIG_DEBUG_INFO_SPLIT
CONFIG_DEBUG_INFO_REDUCED

maybe it makes difference? I'll try.

[2017-02-06 14:41] jpoimboe commented on #666
@ric96 the meminfo_proc_show() function changed in Linux 4.9, so the old meminfo-string.patch no longer applies.

[2017-02-06 14:49] marcin-github commented on #668
After unsetting CONFIG_DEBUG_INFO_SPLIT I'm  getting:
`# readelf -wi /var/tmp/portage/linux-bcache-kpatch/vmlinux |wc -l`
`7374169`

[2017-02-06 14:50] joe-lawrence commented on #668
@marcin-github - that's better.  How about the ```gawk``` command, can it find all the sizes that it's looking for?

[2017-02-06 15:09] ric96 commented on #666
@jpoimboe oh, I am kinda new to this kpatch stuff, can you suggest another patch that's suitable for show and tell.

[2017-02-06 15:09] marcin-github commented on #668
gawk returns:
export ALT_STRUCT_SIZE=1
export PARA_STRUCT_SIZE=1
export BUG_STRUCT_SIZE=1
export EX_STRUCT_SIZE=1

[2017-02-06 15:27] jpoimboe commented on #666
@ric96 I'd recommend to just port the meminfo patch for your newer kernel, like:
[code]

[2017-02-06 15:29] jpoimboe commented on #668
Hm, guess we should add checking to kpatch-build to print an error if CONFIG_DEBUG_INFO_SPLIT is set.

Either that, or figure out a way to find the special section struct sizes from the split out dwarf data.

[2017-02-06 15:29] joe-lawrence commented on #668
Thanks for all the info and testing.  I can reproduce this here with those .config options.  Two things, first I think there is a bug in the awk script:

Normal kernel build:
[code]

vs. CONFIG_DEBUG_INFO_REDUCED build:
[code]

The awk script will only consider the first match for ```/DW_AT_name.* alt_instr\s*$/``` and then use the value in the next line's key/value pair.  It should be verifying t

[2017-02-06 16:43] joe-lawrence commented on #668
@marcin-github - try applying the attached patch and see if ```kpatch-build``` successfully completes. (Shamelessly borrowed from @flaming-toast's [kpatch-rhel6](https://github.com/flaming-toast/kpatch/tree/kpatch-rhel6) WIP branch.)

[test.patch.txt](https://github.com/dynup/kpatch/files/755207/test.patch.txt)

@jpoimboe, @flaming-toast - what are your thoughts about supporting either of these tw

[2017-02-06 17:30] jpoimboe commented on #668
@joe-lawrence Sounds like CONFIG_DEBUG_INFO_REDUCED support is a simple fix which makes the existing code more robust anyway, so that sounds fine.

For CONFIG_DEBUG_INFO_SPLIT support, I don't have a strong feeling about it either way.  It doesn't seem to be a commonly used option, at least not by the distros.  For now we could just spit out an error for it.  We could always add support for it lat

[2017-02-06 18:23] #666 closed

[2017-02-07 07:59] ric96 commented on #666
@jpoimboe
finally got the git stuff sorted, the kernel modules builds fine. But the load gives an error of "improper format" or something similar. But I got it work on centos 7 so that works for me...

[2017-02-07 14:50] joe-lawrence commented on #666
@ric96 : you may receive an "invalid module format" error if you're trying to load a kpatch patch module that was built for a kernel that's different than the one you're currently booted.  (You can run ```modinfo kpatch-xyz.ko | grep vermagic``` and compare that to ```uname -r``` to check.)

[2017-02-07 14:58] marcin-github commented on #668
I run:
`HOME=/var/tmp/kpatch-home bash -x ./kpatch-build -s /var/tmp/portage/linux-bcache-kpatch/ /var/tmp/portage/linux-bcache-kpatch/meminfo-test.patch`

Output:
`[...]`
Reading special section data
++ readelf -wi /var/tmp/kpatch-home/.kpatch/tmp/vmlinux
++ gawk --non-decimal-data '

           BEGIN { a = b = p = e = 0 }
           # Set state if name matches
           a == 0 && /DW_AT_name.*

[2017-02-07 15:18] joe-lawrence commented on #668
I don't see ```CONFIG_PARAVIRT``` in the attached .config file, can you retry with a kernel built with that option enabled?  ( We should be getting close :D )

[2017-02-07 15:25] marcin-github commented on #668
With or without CONFIG_PARAVIRT_DEBUG ?

[2017-02-07 15:26] joe-lawrence commented on #668
CONFIG_PARAVIRT_DEBUG doesn't need to be set

[2017-02-07 15:26] marcin-github commented on #668
I'll back tomorrow.

[2017-02-07 16:24] jpoimboe commented on #666
@ric96 Also check dmesg for clues.

[2017-02-07 16:26] jpoimboe commented on #668
I guess we should make PARA_STRUCT_SIZE optional.

[2017-02-07 18:29] ric96 commented on #666
Actual error message
[code]

version check checkouts fine
[code]

dmesg:
[code]
looks like the "+" after x86_64 is causing the issue, btw i am using the source automatically downloaded by kaptch-build

[2017-02-07 18:45] jpoimboe commented on #666
@ric96 I wonder if the ~/.kpatch/src cache got corrupted somehow.  Try removing ~/.kpatch and try again.

[2017-02-07 18:47] ric96 commented on #666
already did, I am thinking about creating a new issue to see if this affects multiple users

[2017-02-07 19:03] jpoimboe commented on #666
@ric96 Opening another issue sounds good, this seems unrelated to the original issue reported here.

[2017-02-07 19:16] ric96 opened #670 "Fedora 25 mismatch vermagic"
After applying a patch mentioned in #666
It seems that the default kernel source downloaded using kpatch-build, doesn't match due to an additional "+" character in the version string

as detailed in https://github.com/dynup/kpatch/issues/666#issuecomment-278095329

[code]

[2017-02-07 23:01] joe-lawrence commented on #670
FWIW, I just built Fedora 25 / 4.9.7-201.fc25.x86_64 and the kpatch modules did not have the '+' included in their version magic.  Any .git directory in the downloaded source dir should be deleted as per d200d40569ee251a16cc43cece10edffe70eacba  @ric96 are you applying the #666 patch on top of this commit? ( @jpoimboe checked in that fix back in Nov 2016 )  Maybe running kpatch-build with ```--ski

[2017-02-08 01:48] ric96 commented on #670
@joe-lawrence
yup, on point.
The .git folder was causing the issue. But I think there needs to be a workaround rather than just deleting the .git folder.

[2017-02-08 01:57] ric96 opened #671 "installed binaries do not run using sudo"
just a minor bug, it seems like if I install the binaries to usr/local using ```sudo make install``` I am only able to execute them as a regular user and not sudo, hence unable to use ```sudo kpatch load```.
[code]
Binaries fro git trees work fine with sudo.
I've tested this on fedora 25 and centos 7, and yes the binaries are present in /usr/local/bin and sbin, and both are added to $PATH.

[2017-02-08 02:33] joe-lawrence commented on #670
@ric96 - are you saying that the .git directory is still an issue?  If so, then we need to figure out why removing it wasn't sufficient.

[2017-02-08 03:00] ric96 commented on #670
As of now kpatch-build does remove the .git folder as expected.
The issue occurred when I initialized a git repo locally to apply the patches and create a suitable meminfo patch for kpatch.
**Deleting my .git folder solved the issue.**
I'm just saying that it is not a viable solution as tracking changes would be difficult and we would need to maintain separate directories one with .git to track ch

[2017-02-08 10:44] ric96 commented on #671
wasn't aware that /usr/local/bin and sbin aren't available in sudo path, anyway the simple fix is to use the same $PATH as that of the user by simply editing the /etc/sudoers file and commenting out
[code]

[2017-02-08 10:44] #671 closed

[2017-02-08 13:27] marcin-github commented on #668
CONFIG_PARAVIRT isn't enough:

++ readelf -wi /var/tmp/kpatch-home/.kpatch/tmp/vmlinux
+ SPECIAL_VARS='export ALT_STRUCT_SIZE=13
export EX_STRUCT_SIZE=12
export BUG_STRUCT_SIZE=12'
+ [[ -n export ALT_STRUCT_SIZE=13
export EX_STRUCT_SIZE=12
export BUG_STRUCT_SIZE=12 ]]
+ eval 'export ALT_STRUCT_SIZE=13
export EX_STRUCT_SIZE=12
export BUG_STRUCT_SIZE=12'
++ export ALT_STRUCT_SIZE=13
++ ALT_STRUCT_SI

[2017-02-08 13:52] jpoimboe commented on #670
~/.kpatch is a private cache which is managed by kpatch-build.  It's not really meant to be messed with.  Otherwise, if you make a mistake, it could result in a corrupt patch.

[2017-02-08 14:53] #604 closed

[2017-02-08 16:09] joe-lawrence commented on #668
@marcin-github - by any chance are you manually appending ```CONFIG_PARAVIRT=y``` to the .config file?  If so, you'll also need ```CONFIG_HYPERVISOR_GUEST=y``` as well, otherwise if will be removed from .config when the kernel's Makefile invokes ```scripts/kconfig/conf  --silentoldconfig Kconfig```.

It's probably easier to toggle this in ```make menuconfig``` so it pulls in any additional configu

[2017-02-08 17:41] marcin-github commented on #668
No - no. I used menuconfig to change the option.

[2017-02-08 18:15] jpoimboe commented on #668
@marcin-github I'm not able to recreate with Linux 4.9 with your config (and CONFIG_PARAVIRT added and CONFIG_DEBUG_INFO_SPLIT removed).
[code]

When using the '-s' option without specifying the vmlinux file, kpatch-build looks for vmlinux in the kernel source tree.  Make sure the kernel source has been built with the new config before running kpatch-build.

[2017-02-08 18:19] marcin-github commented on #668
I'll have access to my test box tomorrow. I can prepare similar enviroment on other host but I'm afraid it could be a mess - somethong works or not on box A, something dosen't works on box B etc.

[2017-02-08 19:32] ric96 commented on #670
@jpoimboe agreed

[2017-02-08 19:32] #670 closed

[2017-02-08 21:22] joe-lawrence commented on #668
@jpoimboe - I'm working on a final patch for the [debug_info_reduced](https://github.com/joe-lawrence/kpatch/tree/debug_info_reduced) branch to make ```CONFIG_PARAVIRT``` optional.  I've got ```kpatch-build``` + its awk script handling cases with or without the config setting.  I *think* ```create-diff-object``` can handle no ```PARA_STRUCT_SIZE``` variable as long as the objects its inspecting do

[2017-02-08 21:47] jpoimboe commented on #668
@joe-lawrence Sounds right.  I think create-diff-object will report an error when it encounters a `.parainstructions` section and PARA_STRUCT_SIZE isn't set.

[2017-02-08 22:10] joe-lawrence commented on #668
Hi @marcin-github - I updated my [debug_info_reduced](https://github.com/joe-lawrence/kpatch/tree/debug_info_reduced) branch to ignore ```CONFIG_PARAVIRT``` should it not be set.  The usual it's-only-been-lightly-tested disclaimers apply, but I would appreciate any test results you may provide.  Thanks!

[2017-02-09 10:02] ric96 opened #672 "kpatch build error raspberry pi"
This might seem a bit farfetched but i am trying to get kpatch working on the raspberry pi 3. It is running the default raspbian os, but the official kernel has been recompile with live patching enabled. and all the required dependencies have been installed.
[code]

I am getting the following error during compilation of kpatch.
[code]
gcc version: 4.9.2

[2017-02-09 10:52] marcin-github commented on #668
Hi, @joe-lawrence - with options:
\# CONFIG_HYPERVISOR_GUEST is not set
\# CONFIG_SYS_HYPERVISOR is not set
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_REDUCED=y
\# CONFIG_DEBUG_INFO_SPLIT is not set
\# CONFIG_DEBUG_INFO_DWARF4 is not set

I got:
[ 3282.885400] livepatch: enabling patch 'kpatch_meminfo_test'

$ grep -i total /proc/meminfo
MemTotalXXXXXXXX 4553908 kB

So it works! Thank you!

[2017-02-09 14:30] jpoimboe commented on #672
It's failing because the Pi is 32-bit arm, and right now kpatch-build and kpatch.ko only support x86_64.

Upstream livepatch (which could be used instead of kpatch.ko) also doesn't have arm support yet, there were some patches posted for it recently: https://lkml.kernel.org/r/1481043967-15602-1-git-send-email-abelvesa@linux.com

[2017-02-09 15:12] joe-lawrence commented on #668
@marcin-github - great!  Thanks for testing, I'll send out a PR and think of some additional tests for this changeset.

[2017-02-09 19:04] #668 closed

[2017-02-10 14:18] marcin-github opened #675 "build error: lookup.c:109:21: error: ‘file_sym’ may be used uninitialized in this function"
Hi!
First questions, is it safe to add optimization CFLAGS to build process of tools? I'm trying to prepare ebuild form my purposes, and build process pass system CFLAGS.
With -O1 or -O2 I'm getting:

cc -MMD -MP -O2 -I../kmod/patch -Iinsn -Wall -Werror -c -o lookup.o lookup.c
lookup.c: In function ‘lookup_open’:
lookup.c:109:21: error: ‘file_sym’ may be used uninitialized in this function [-Werro

[2017-02-10 14:40] joe-lawrence commented on #675
@marcin-github - I think it should be safe to build with -O1 or -O2.  If you initialize ```file_sym``` and ```local_index``` at the beginning of ```find_local_syms()``` does that make the compiler happy?  If so, I would be curious to see a timing comparison with/without those flags.  Patches welcome :)

[2017-02-15 16:44] jpoimboe commented on #672
Closing, because this would probably be a lot of work and we have no plans to implement it anytime soon.

[2017-02-15 16:44] #672 closed

[2017-02-15 19:37] joe-lawrence opened #676 "find_local_syms errors and meminfo-cmdline-rebuild-SLOW.patch"
I'm hitting a lot of errors like "ERROR: md.o: find_local_syms: 113: find_local_syms for md.c: found_none" when building ```meminfo-cmdline-rebuild-SLOW.patch```.  I've seen these errors building against a Fedora 4.9 debug kernel as well as RHEL7 3.10.0-514.10.1.el7.x86_64.

I bisected kpatch back to aa2907df297:
[code]

[2017-02-15 21:11] jpoimboe commented on #676
I'm able to recreate on Fedora 24.  Will work up a fix.

[2017-02-17 00:22] flaming-toast commented on #580
I think we can close this issue now. The original issue reported with patching kvm_arch_vm_ioctl() has been fixed. We've implemented the fix in upstream livepatch, the kpatch build tools now have support for .klp.arch. sections, and the kpatch core module has a workaround implemented by PR #590

[2017-02-17 00:22] #580 closed

[2017-02-17 10:18] playsand opened #677 "kpatch load failed"
I'm trying to use ```kpatch load``` on custem 3.10 kernel,but it fails.
here are my steps and messages:
[code]
[code]
[code]
Have you met the issue?
Thanks!

[2017-02-17 13:20] jpoimboe commented on #677
I haven't seen that one.  It looks like your kernel is based on CentOS?  What's custom about it?

[2017-02-17 13:21] jpoimboe commented on #677
If the kernel has been changed from the stock CentOS kernel, use the `--sourcedir` option to point it to the changed kernel.

[2017-02-20 06:41] playsand commented on #677
I used the ```--sourcedir``` and solved the issue.
Thanks.@jpoimboe

[2017-02-20 06:41] #677 closed

[2017-02-23 22:44] #657 closed

[2017-02-27 17:23] jpoimboe opened #678 "kpatch.ko: report more information about what is patched"
When patching a module (vs the kernel proper) with kpatch.ko, there's no way to tell which module has been patched.  There has been a request to report that information in sysfs.

My preference would be to mirror what livepatch does, like:
[code]

[2017-02-28 17:48] rosslagerwall opened #681 "Crash when loading patch module"
Any ideas what could be causing this?

[code]

The crash occurs in `kpatch_register`:
[code]
The faulting address, `ffffffffa04544f8`, does correctly appear to be the address of `kpmod->enabled`, given where the module was reported to have loaded `.bss`.

I was able to reproduce this with v0.3.2 and master with aa2907df29 reverted. Note that I was building with the patch from #680, otherwise I cou

[2017-02-28 18:04] flaming-toast commented on #681
@rosslagerwall The OOPS code suggests a protection fault caused by a write. Hm...
I'd like to try reproducing this, can you attach the patch and .config you used?

[2017-02-28 20:45] #678 closed

[2017-03-01 08:12] rosslagerwall commented on #681
The base kernel is v4.4.27 with some patches applied, running on Xen.
[config.txt](https://github.com/dynup/kpatch/files/810006/config.txt)

[new.patch.txt](https://github.com/dynup/kpatch/files/810012/new.patch.txt)

This is a patch for "ext4: validate s_first_meta_bg at mount time" with some extreme hackery...

ext4 debugging functions include the line number and cause many functions to be marke

[2017-03-01 08:14] rosslagerwall commented on #681
Yes, that's a good point about the protection fault being caused by a write. I'd noticed that and then forgot about it.

[2017-03-01 08:23] rosslagerwall commented on #681
Also, other live patches work on this kernel so it appears to be something interesting about this one.

[2017-03-01 09:15] rosslagerwall commented on #681
With the above PR, it fixes the issue.

I'm not sure if more needs to be done:
* Are there more symbols that need to be stripped to prevent this happening with other temporary symbols?
* Why did the core module think that the page was read only, when clearly it shouldn't have been?

[2017-03-01 18:38] flaming-toast commented on #681
I'm mostly wondering how they got put in the module's read-only region, because the core module will only set the page back to RO if it was RO to begin with (i.e., the address was between the module's base and base + ro_size).

I just tried to build a module with the KPATCH_IGNORE_FUNCTION() macro and got:
[code]

It's `WA`, so it should have been put in the module's writable data section. What fl

[2017-03-01 19:11] rosslagerwall commented on #681
I can confirm it tomorrow, but I'm pretty sure it was WA.

[2017-03-01 23:04] flaming-toast commented on #681
@rosslagerwall Found the issue. I thought this was going to be some crazy bug in our userspace tools, but it's actually just a silly mistake that the kpatch core module makes when applying dynrelas.

When the kpatch core module applies dynrelas, it sets the `readonly` flag to 1 when the target location is within the patch module's RO region. Notice that the `readonly` flag is never reset to 0 when

[2017-03-01 23:38] flaming-toast commented on #681
@rosslagerwall Does the patch below fix the issue on your end?

[code]

[2017-03-02 08:28] rosslagerwall commented on #681
Yeah it does. Thanks for figuring it out.

It still think that it would be useful to apply #682 as there's no point in having dynrelas and sections related to ignored functions in the final module anyway.

[2017-03-03 00:59] flaming-toast commented on #681
@rosslagerwall Yeah, we'll need bugfixes for both issues. Forgetting to strip temporary kpatch symbols in RW sections just also happened to reveal the readonly bug in the core module. :-)

[2017-03-03 20:48] #681 closed

[2017-03-07 18:38] #676 closed

[2017-03-07 19:35] joe-lawrence opened #686 ".lib_exports.o: No such file or directory"
Building meminfo-cmdline-rebuild-SLOW.patch against an upstream 4.10 kernel tree, I get the following error:
[code]
That file is listed in the changed objects file, but doesn't exist when kpatch-build tries to make copies.
[code]

[2017-03-07 19:40] joe-lawrence commented on #686
Note that ```.lib_exports.o``` was added in upstream kernel commit: [7f2084fa55e6](https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=7f2084fa55e6cb61f61b4224d4a8bafaeee55f9f) [kbuild] handle exports in lib-y objects reliably (v4.9+).

[2017-03-07 21:55] joe-lawrence commented on #686
Adding a ```*/.lib_exports.o``` pattern to the kpatch-gcc ignore list renders a kpatch .ko that loads and does its thing.  My reading of the kernel patch is that ```.lib_exports.o``` is only created for ```lib.a``` files and that patching lib-y objects is not supported by kpatch...  Is that correct @jpoimboe ?  (I tried patching ```lib/string.c``` for example, and ```create-diff-object``` complain

[2017-03-10 01:14] flaming-toast commented on #686
According to upstream commit 9da2f584b54 `.lib_exports.o` is an empty dummy object used with a linker script to create `lib-ksyms.o`, and it gets removed afterwards, so we see that `No such file or directory` error when kpatch-build tries to cp it. Since this is an empty object used only for an intermediate step, it shouldn't even show up on `changed_objs`, as it does not contain any code to patch

[2017-03-10 15:05] joe-lawrence commented on #686
@flaming-toast
- globs - Yes, ```*.*.o``` would extend the original ```.*.o``` glob to include subdirectories, and therefore catch ```lib/.lib_exports.o``` as well.  Good catch, I just tested this and will send out a PR shortly.
- ```lib_exports.o``` - we can safely ignore it to fix this issue, but what about the ```lib-y/lib.a``` question in general?  Should be a documented limitation?

[2017-03-10 17:59] flaming-toast commented on #686
@joe-lawrence Yeah, we cannot patch lib/ functions because they are simply not hookable by ftrace, and they're compiled without the -pg profiling option. See commit 2464a609ded "ftrace: do not trace library functions". And yes, it would be nice to document it somewhere :-)

[2017-03-10 18:00] #686 closed

[2017-03-10 18:02] jpoimboe commented on #686
It's pretty much self-documenting, as if you try to create a patch for a lib/ function it will fail with `function foo has no fentry call, unable to patch`.

[2017-03-10 18:12] joe-lawrence commented on #686
@jpoimboe - I was thinking of the Limitations section of README.md, not the kpatch-build tool.

[2017-03-10 18:21] jpoimboe commented on #686
@joe-lawrence Yeah, that would probably be a good idea.  And it should mention that *any* function with a missing 'fentry' call can't be patched.

[2017-03-16 14:07] joe-lawrence commented on #389
Considered fixed by PR #690 ?

[2017-03-16 14:10] #389 closed

[2017-04-20 20:22] jpoimboe opened #695 "don't create dynrelas for exported symbols used by patched modules"
@joe-lawrence saw the following errors when loading upstream commit `128394eff343fc6d2f32172f03e24829539c5835` on RHEL7 with kpatch.ko:

[code]

It's running into issue #580, but I think that can be avoided by leaving `copy_user_generic_unrolled` as a normal relocation instead of converting it to a dynrela, because it's an exported symbol.  @flaming-toast would you agree, or am I missing an edge c

[2017-04-20 20:30] jpoimboe commented on #695
The only case I can think of where it would need a dynrela would be if the exported symbol is in another module.  In that case the relocation may need to be deferred, in case the other module hasn't been loaded yet.  But if it's defined by vmlinux, seems like it can just be a normal rela.

[2017-04-20 20:34] flaming-toast commented on #695
@jpoimboe I think relas against exported symbols can be left as normal relas.

Back before create-diff-object was made Module.symvers-aware, in the case of patching a module, we could not determine if a symbol was exported by vmlinux because all we had was the lookup symbol table for the module (and not Module.symvers, or vmlinux). It was a create-diff-object limitation at the time.

Now that this

[2017-04-20 20:43] flaming-toast commented on #695
@jpoimboe Minor clarification: for my previous comment I'm talking about exported vmlinux symbols.

I'm still thinking about what should happen when a module uses an exported symbol from another module that's not loaded...normally modprobe takes care of this kind of module dependency for us by loading any prerequisite modules first, but we don't rely on modprobe/depmod.

[2017-04-21 20:56] #695 closed

[2017-04-24 08:28] ufo19890607 opened #697 "Question about the srcversion"
Hi,
I generate a ko file using the the kpatch-build tool,but the ko does not contain the srcversion.Do I need to add other options for the kpatch-build? Why the ko file generated from the  kpatch-build is different from the general ko in the system.
filename:      /kpatch/builder/release/kpatch/3.10.0-327.36.3.el7.x86_64/kpatch-toa-v1-0-55cd6c2.ko
license:        GPL
rhelversion:    7.2
depends:

[2017-04-24 17:02] flaming-toast commented on #697
You need to have CONFIG_SRCVERSION_ALL enabled for your kernel, otherwise the srcversion will only be generated for modules with a MODULE_VERSION() tag.

[2017-04-24 17:32] joe-lawrence commented on #697
@flaming-toast - I thought *.el7 kernels already had `CONFIG_MODULE_SRCVERSION_ALL` set.  None of kpatch modules I've been building lately against  3.10.0-[200-600].el7.x86_64 kernels have srcversion module info.

[2017-04-24 17:48] flaming-toast commented on #697
@joe-lawrence Hm, you are right. I'll look into the modpost script to see why srcversion isn't being generated for kpatch modules..

[2017-04-24 20:07] flaming-toast commented on #697
So Joe pointed to an old comment from 2014 discussing srcversion for patch modules: https://github.com/dynup/kpatch/issues/343#issuecomment-53667657

In addition, I added a few prints to modpost to see where it was failing, and I hit this warning:
`WARNING: could not find .kpatch/tmp/patch/.output.o.cmd for .kpatch/tmp/patch/output.o`

srcversion is supposed to contain a checksum of all the source

[2017-04-25 01:30] ufo19890607 commented on #697
@flaming-toast  I need to make patch modules for others .I know that each patch module has only one srcversion, so it can be used to distinguish different patch modules. If srcversions are inherently incompatible with kpatch modules, is there any way to make sure that the ko file loaded into the system is my ko ?

[2017-04-26 11:17] flaming-toast commented on #697
@ufo19890607 Yes, you can dump the `.kpatch.checksum` section of the patch module. It contains a string checksum of the final output object built into the patch module. This should be sufficient to distinguish between different patch modules.

[2017-05-02 19:57] joe-lawrence opened #698 "kpatch-build: static local variable was removed"
[patch.txt](https://github.com/dynup/kpatch/files/971826/patch.txt)

I'm testing a patch (see attached) for CVE-2016-5696 against RHEL7.3 GA + kernel-3.10.0-450.el7.x86_64 (rebuilt by RHEL7.3 GA toolset) and was running into a static local variable complaint from kpatch-build:
[code]
In this case, it looks like `challenge_count`'s numerical suffix has changed:
[code]
Also, the function containing

[2017-05-02 20:32] joe-lawrence opened #699 "removing patched module left kpatch patch module stuck"
[patch.txt](https://github.com/dynup/kpatch/files/971897/patch.txt)

With the attached kpatch, I didn't have hardware suitable to successfully load the `aesni_intel` driver.  A modprobe of that driver did engage kpatch though, and that left the kpatch patch module loaded, but in an unloadable state (as well as dropping a WARN):
[code]

[2017-05-03 01:48] flaming-toast commented on #699
Ah, good catch. This is because the kpatch core module notifier doesn't take into account GOING modules. But (for reasons that are currently eluding me) this also means that we don't take into account modules who are GOING because module initialization failed...

[2017-05-03 13:39] joe-lawrence opened #700 "symbol load_elf_binary at offset 3536 within section .text.load_elf_binary, expected 0"
[patch.txt](https://github.com/dynup/kpatch/files/973473/patch.txt)

I'm testing a patch (see attached) for CVE-2015-1593 against RHEL7.3 GA + kernel-3.10.0-200.el7.x86_64 (rebuilt by RHEL7.3 GA toolset) and was running into the following kpatch-build error:
[code]
It's interesting to note that kpatch-build reports that both `binfmt_elf.o` and `compat_binfmt_elf.o` modify a function called `load_e

[2017-05-04 15:04] joe-lawrence opened #701 "kpatch-build: find_local_syms for mpls_gso.c: found_none"
[patch.txt](https://github.com/dynup/kpatch/files/976581/patch.txt)
[symbols.orig.txt](https://github.com/dynup/kpatch/files/976583/symbols.orig.txt)
[symbols.patched.txt](https://github.com/dynup/kpatch/files/976582/symbols.patched.txt)

I'm testing a patch (see attached) for CVE-2016-7039 against RHEL7.3 GA + kernel-3.10.0-500.el7.x86_64 (rebuilt by RHEL7.3 GA toolset) and was running into the f

[2017-05-04 20:35] joe-lawrence opened #702 "changed section .rela.rodata not selected for inclusion"
[patch.txt](https://github.com/dynup/kpatch/files/977481/patch.txt)

I'm testing a patch (see attached) for CVE-2014-3690 against RHEL7.3 GA + kernel-3.10.0-200.el7.x86_64 (rebuilt by RHEL7.3 GA toolset) and was running into the following kpatch-build error:
[code]
readelf does indeed show a difference in this section between the original and
patched object files:
[code]

[2017-05-09 19:23] joe-lawrence commented on #700
[patch.txt](https://github.com/dynup/kpatch/files/987776/patch.txt)

I can generate a similar "symbol_get_entries offset error" with the mega-patch attached.   This time, three files modify their own version of `compat_get_entries()`:
[code]

[2017-05-09 19:27] joe-lawrence commented on #700
This could probably be worked around by modifying the patches to provide a new, uniquely named function in each file that is modifying a commonly named function.  For example, the patch in the previous comment could provide patched versions of `compat_get_entries()` prefixed by the containing filename.  Callers would need to be updated to the new names as well.

[2017-05-11 09:37] profihost opened #703 "section mismatch .eh_frame"
While trying to build patches for CVE-2017-7308 and CVE-2017-8890.  I'm always getting section mismatch errors for eh_frame.

Example patch:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=657831ffc38e30092a2d5f03d385d710eb88b09a

I was able to "workaround" this by adding:
#include "kpatch-macros.h"
KPATCH_IGNORE_SECTION(".eh_frame");

[2017-05-11 14:45] jpoimboe commented on #703
Can you share your distro, kernel version and config?  Any chance your kernel has a patch to enable `-fasynchronous-unwind-tables`?

[2017-05-11 17:25] disaster123 commented on #703
I'm using an opensuse 42.2 kernel build from https://github.com/openSUSE/kernel-source/commits/openSUSE-42.2 which has unwinder dwarf2 support enabled.

[2017-05-11 17:37] jpoimboe commented on #703
Does the following patch fix it?

jpoimboe@67b3bd0f5e507d2ff66a2c18f42ce51619ede2fc

[2017-05-11 18:55] disaster123 commented on #703
!strcmp(name, ".eh_frame", 9);
=>
!strncmp(name, ".eh_frame", 9);

But yes that works / fixes it! Thanks!

[2017-05-11 19:04] jpoimboe commented on #703
@disaster123 I think It's generally better to build everything in a single module.

[2017-05-11 19:15] disaster123 commented on #703
OK thanks!

[2017-05-13 13:03] #703 closed

[2017-05-15 13:08] vincentbernat opened #706 "find_local_syms for xxx.c: found_none"
Hey!

I am trying to patch a 3.13 kernel and I am running into some difficulties. I get a lot of errors during symbol comparison:

[code]

If I use `readelf -s /usr/lib/debug/boot/vmlinux-3.13.0-117-generic` and look for `flow.c`, I see  (`| grep -E 'FILE|FUNC|OBJECT' | grep LOCAL`):

[code]

If I do that on patched `flow.o`, I get:

[code]

So, I have a few symbols missing (`flow_cache_gc_task`)

[2017-05-15 13:45] joe-lawrence commented on #706
Hi @vincentbernat,

The kpatch-build script only exports `KCFLAGS="-I$DATADIR/patch -ffunction-sections -fdata-sections"`, the rest of the kernel flags and options should be coming from the unpacked kernel source.  With that in mind, the script does a little bit of `CONFIG_...` checking to ensure a couple features like ` CONFIG_DEBUG_KERNEL` are set.  Could you attach the kernel `.config` for whic

[2017-05-15 13:58] vincentbernat commented on #706
Hey!

Thanks for the fast answer. I am using [this patch](https://github.com/torvalds/linux/commit/6a662719c9868b3d6c7d26b3a085f0cd3cc15e64). And the `.config`: [config-3.13.0-117-generic.txt](https://github.com/dynup/kpatch/files/1001279/config-3.13.0-117-generic.txt).

The `readelf -s` output for the original output:

[code]

And the patched:

[code]

No diff. Even without `grep`.

Maybe my libe

[2017-05-15 14:18] vincentbernat commented on #706
OK, I have walked a bit with gdb and here is what happens. `find_local_syms` is called with the symbol table from `/usr/lib/debug/boot/vmlinux-3.13.0-117-generic` (so, it doesn't match what's compiled). It finds the STT_FILE `flow.c`. Then, the first LOCAL, FUNC symbol it finds is `flow_cache_gc_task`. It compares it to the first symbol in `child_locals` which is `flow_cache_new_hashrnd`. It doesn

[2017-05-15 14:22] vincentbernat commented on #706
[code]

[code]

[2017-05-15 15:45] joe-lawrence commented on #706
Trying to repro here on RHEL7 and it looks like I hit a different build program with that patch:
[code]
I hope to take a better look after lunch :)

[2017-05-15 16:00] vincentbernat commented on #706
If you only has this one, it's unlikely that's the same problem. I get 170+ errors like this on my build.

[2017-05-15 21:09] joe-lawrence commented on #706
@vincentbernat -- I think I've chased down my build bug to an unrelated matter.  As far as yours is concerned, after running through `find_local_syms` in gdb myself, it looks like its trying to compare the reference kernel-object with a rebuilt, unpatched object file.  And I think you're correct in that it wants to see similar symbol ordering of both tables.

On my RHEL7 setup, I compared this fil

[2017-05-16 05:00] vincentbernat commented on #706
The GCC patch is [this one](https://github.com/gcc-mirror/gcc/commit/e83660d17a3ed9fb20339118d07452f5d95b27b2), so it's not really a patch to implement anything. The output of `readelf -s` for the original `vmlinux` is in the original comment.

I'll rebuild the source package and I'll check if there is some special flags provided during the build.

[2017-05-16 08:57] euspectre commented on #442
Are there any updates on this one?

I've also hit this problem recently when trying to prepare a binary patch from https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=06bd3c36a733ac27962fea7d6f47168841376824. The patch was for a custom kernel where there is an additional percpu variable in ext4 (fs/ext4/inode.c), `ext4_bd_full_ratelimits`. The build process went fine but

[2017-05-16 11:58] jpoimboe commented on #442
Hm, the original patch seems to load for me now on a Fedora 4.10 kernel.  Maybe this has been fixed upstream?

[2017-05-16 13:51] jpoimboe commented on #442
@flaming-toast Any idea how/when this was fixed?  It would be interesting to know if this issue still exists on RHEL 7.

[2017-05-16 14:04] euspectre commented on #442
It might be because, it seems, neither mainline kernel nor RHEL7 kernels have that percpu variable in inode.c, so you did not hit the problem. Unfortunately, the custom kernel I worked with, does have it.

[2017-05-16 14:05] joe-lawrence commented on #706
By "reference vmlinux", I meant `/usr/lib/debug/boot/vmlinux-3.13.0-117-generic`.  That's the one that `find_local_syms` is comparing against, right?  Just curious to see how different it is.

Can you edit/annotate the `readelf` examples in the previous comments to indicate which vmlinux and which flow.o is being listed?  (Full command-line or paths would be sufficient.)

If I understand the bug r

[2017-05-16 15:16] vincentbernat commented on #706
Recompiled and patched `flow.o` have the same symbols in the same order. Only `/usr/lib/debug/boot/vmlinux` doesn't match. I'll update the other comments like you suggested.

[2017-05-16 18:31] joe-lawrence commented on #701
While looking at issue #706, I ran into this again.  What I figured out, on RHEL7 at least, is that mpls_gso.c's Makefile and the RHEL7 kernel configuration conflict on whether it should be a vmlinux built-in or a module.  In this case, the Makefile specifies `obj-y`, so mpls_gso.o is built and linked into a built-in.o.  The kernel configuration however states `CONFIG_NET_MPLS_GSO=m`.  No such ker

[2017-05-16 20:11] flaming-toast commented on #442
@jpoimboe Access to module percpu symbols via kallsyms was fixed in upstream commit e0224418516b4d8a6c2160574bac18447c354ef0 ("module: keep percpu symbols in module's symtab").

[2017-05-16 20:16] flaming-toast commented on #442
@euspectre You may need to backport the above fix for your custom kernel. Does your custom kernel have Miroslav's fix? See: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=e0224418516

[2017-05-17 07:23] euspectre commented on #442
@flaming-toast Thanks a lot!

The kernel I experimented with was based on the one from RHEL 7 / CentOS 7 and did not have this fix yet. I will try it.

[2017-05-17 18:11] joe-lawrence commented on #706
@vincentbernat - in the first comment, is the output from  `readelf -s /usr/lib/debug/boot/vmlinux-3.13.0-117-generic` correct? (I don't see the `flow_cache_gc_task` symbol that you reported as missing.  If I understand the problem, isn't the reference flow.c FILE vmlinux symbol table unique to its counterparts found in the kpatch-built flow.o and patched flow.o?)

As for next steps, I might have

[2017-05-17 19:14] vincentbernat commented on #706
@joe-lawrence oh, it seems I have messed the copy paste. I have corrected it with the actual output.

As for the gcc used, the version is present in dmesg and matches mine. I have taken the same sources (with `apt-get source`) and added the patch I mentioned and recompiled. I didn't get time yet to just try to recompile the kernel package without any change and check what the debug vmlinux looks l

[2017-05-17 19:57] #442 closed

[2017-05-17 20:00] jpoimboe commented on #706
The only thing I can think of is that the package build might be adding compiler flags on the command line beyond what the makefiles do.

[2017-05-17 20:48] jpoimboe commented on #701
Sounds like this will need to be fixed in RHEL, so I'm closing the issue.

[2017-05-17 20:48] #701 closed

[2017-05-17 21:21] vincentbernat commented on #706
Here is the command-line used by kpatch:

[code]

And the command-line used during package build:

[code]

The difference is `-fno-inline-functions-called-once` added when doing the package build (and `-ffunction-sections` and `-fdata-sections` added by kpatch). This should be added only if `CONFIG_DEBUG_SECTION_MISMATCH` is set and while it is unset in `.config`, it is forcibly set by the make co

[2017-05-17 21:34] jpoimboe commented on #706
My advice would be to patch the makefile to add `-fno-inline-functions-called-once` instead of adding the option manually on the command line.

[2017-05-18 06:17] vincentbernat commented on #706
So, I have made some progress but I still have some modules failing.

From `readelf -s /usr/lib/debug/.../vmlinux`:

[code]

And the non-patched version:

[code]

The only difference is that I am missing this line in `/usr/lib/debug/.../vmlinux`:

[code]

If I look at the final `vmlinux` (compiled with the patch), the line is also missing. I suppose that the function is stripped because the `.o` b

[2017-05-18 06:23] vincentbernat commented on #706
After applying #707, I still have 4 errors (one of them is `mpls_gso.o`). I'll investigate them later.

[2017-05-18 09:38] lilianli2020 opened #708 "ERROR: rmpiggy.o: main: 2507: FILE symbol not found in base. Stripped?"
[code]
JL edit: wrap terminal output in code block for readability

[2017-05-18 09:44] lilyatlenovo commented on #708
It's wired that only the fs/proc/meminfo.c is changed, but the rmpiggy is marked as changed objs.
I also tried this code patch in centos 7, it didn't include the rmpiggy.o objs.
Not sure why is the difference, could the expert explain the root cause?

[2017-05-18 14:56] vincentbernat commented on #706
So, the remaining problems for me are:
 - #708
 - #701 (with `mpls_gso`, but also `lloop.c`)
 - `vsprintf.o`, the one from `/usr/lib/debug/boot/vmlinux` contains this additional symbol:

[code]

Any idea for the last one? Maybe `copy_page_64.S` got combined with `vsprintf.o` at link time?

[2017-05-18 15:09] vincentbernat commented on #701
I run into the same problem and it also happens with `lloop.o`. How is it related to the packaging?

From what I understand, the Makefile forces the use of `built-in`, but since the module is declared as module, this doesn't make its way to `vmlinux`. Maybe we should add a way to exclude such a module? This has been fixed in 3.18.

[2017-05-18 15:40] joe-lawrence commented on #701
`kpatch-build` contains a `for i in $FILES; do` loop in which we already skip `usr/initramfs_data.o`.  Maybe we could add something in there to handle an `IGNORE_OBJS` environment variable list of user-specified objects.  (My fear though is that folks might start ignoring objects instead of reporting real kpatch-build bugs.)

[2017-05-18 21:26] joe-lawrence commented on #708
I can repro with a newer Ubuntu 3.13.0-xyz-generic kernel:
[code]

I haven't spent the time to figure out why its rebuilding, but since it's an assembly file, we can't patch it anyway.  Perhaps we add `rmpiggy.o` to the `kpatch-gcc` [ignore list](https://github.com/joe-lawrence/kpatch/commit/730b9a148a25f14121844dea7b416f37afc210af)?

[2017-05-19 01:45] lilyatlenovo commented on #708
@joe-lawrence Thanks so much for the quick response.
I've tried to add the rmpiggy.o into the ignore list, though the kpatch-build succeeds, the kpatch can't load the module with the error "insmod: ERROR: could not insert module kpatch-my.ko: Unknown symbol in module".

[2017-05-19 01:58] lilyatlenovo commented on #708
I compare the kpatch-build process in the centos and ubuntu, I find that when building the new vmlinux with the new patch, there are different module built in the centos and ubuntu, only in the ubuntu the rmpiggy.o is built.
So I'm wondering whether there is some issue in the build process.

[2017-05-19 02:04] joe-lawrence commented on #708
@lilyatlenovo - I saw that insmod error too, but ran out of time to fully debug.  I think the issue is that the Ubuntu 3.13.0-xyz-generic kernels are pre-livepatch, so it needs the kpatch code.  The symbol is question is `kobj_sysfs_ops` in [kmod/patch/kpatch-patch-hook.c](https://github.com/dynup/kpatch/blob/master/kmod/patch/kpatch-patch-hook.c#L95) and those older Ubuntu kernels aren't exportin

[2017-05-19 03:01] jpoimboe commented on #701
As @joe-lawrence mentioned, you can edit the loop in kpatch-build as a workaround, though I think kpatch-gcc is where we normally put such workarounds.

Another workaround would be to modify the patch such that it doesn't change any header files.  That way it doesn't try to recompile the entire tree and get these false positive changes.

[2017-05-19 05:22] vincentbernat commented on #701
Good idea. In my case, I am using [this patch](https://github.com/torvalds/linux/commit/6a662719c9868b3d6c7d26b3a085f0cd3cc15e64) and as it modifies an inline function declared in `flow.h`, it is not totally trivial, but I should be able to do that nonetheless.

[2017-05-22 19:32] joe-lawrence opened #709 "ubuntu: Unknown symbol kobj_sysfs_ops (err 0)"
kpatch commit 0bb5c106ef18 "kmod: restructure kpatch sysfs tree" breaks kpatch module loading on Ubuntu 3.13.0-xyz-generic kernels.  (I think this corresponds to the "trusty" release.)  These kernels do [not include](http://kernel.ubuntu.com/git/ubuntu/ubuntu-trusty.git/tree/lib/kobject.c#n757) upstream [29dfe2dc0e8f](https://github.com/torvalds/linux/commit/29dfe2dc0e8f85c5656d13bb4c78a5ffca54c45

[2017-05-22 19:33] joe-lawrence commented on #708
@lilyatlenovo - FYI opened #709 to track the unknown symbol error

[2017-05-23 09:40] euspectre commented on #442
Yes, that upstream patch helps. The binary patch now loads OK into the updated kernel.

Thanks for the hint!

[2017-05-27 03:56] CasparChou opened #710 "http://ddebs.ubuntu.com/ zesty-security not found on Ubuntu 17.04"
As the title said, I performed  the steps which add some code to `/etc/apt/sources.list.d/ddebs.list`
and  this is what I got from `apt update`

![image](https://cloud.githubusercontent.com/assets/10682620/26517798/ad408e1c-42d2-11e7-8352-b51bb233377c.png)

`/etc/apt/sources.list.d/ddebs.list`
[code]
I had tried to use `--allow-unauthenticated` option on `apt update`, it didn't work

Is it an igno

[2017-05-30 11:45] aliceinwire commented on #675
some problem here:
lookup.c: In function ‘lookup_open’:
lookup.c:132:21: error: ‘file_sym’ may be used uninitialized in this function [-Werror=maybe-uninitialized]
   table->local_syms = file_sym;
                     ^
lookup.c:83:30: note: ‘file_sym’ was declared here
  struct object_symbol *sym, *file_sym;
                              ^
lookup.c:129:27: error: ‘child_sym’ may be used uninitial

[2017-05-30 14:45] joe-lawrence opened #711 "kpatch-build: changed section .rela.discard.unreachable not selected for inclusion"
[example.patch.txt](https://github.com/dynup/kpatch/files/1038682/example.patch.txt)

Building the attached patch file against Jiri's [for-4.12/klp-hybrid-consistency-model](https://help.github.com/articles/searching-issues/) branch with RHEL7.3 tools, encountered the following kpatch-build error:

[code]

[2017-05-30 19:12] joe-lawrence commented on #711
The kpatch attached in the first comment can build+load successfully if I mark `.discard*` and `.rela.discard*` sections as ignored:
[code]
@jpoimboe - a ".rela.discard.unreachable" google search returns an upstream objtool commit from this March, so perhaps you have an idea about this.  I don't know much about these sections, but it sounds like they are discarded at link time?  Can kpatch-build s

[2017-06-01 00:48] #566 closed

[2017-06-01 18:50] joe-lawrence commented on #710
@CasparChou - can you provide a little more context behind your question and how it relates to kpatch?  (I'm a RHEL/Fedora user over here, so I'm not exactly clear on what you're trying to accomplish with regard to additional apt sources).  Thanks!

[2017-06-02 04:05] CasparChou commented on #710
When I update apt, and it return an error which said zesty-security is not found. I'm not sure the resource you provided correct or not ? Perhaps I'm doing wrong settings. ; (

[2017-06-02 13:49] jpoimboe commented on #710
@arges Any ideas?  Maybe the README needs to be updated for Zesty?

[2017-06-03 01:55] arges commented on #710
The only url that failed was zesty-security. This is because nothing has
been published to this pocket yet. Even with this line failing the ddebs
should be available for download. So this is a message that can be ignored.

On Jun 2, 2017 8:49 AM, "Josh Poimboeuf" <notifications@github.com> wrote:

[2017-06-03 08:54] aliceinwire commented on #675
works with -O1
not works with -O2

[2017-06-13 13:34] joe-lawrence commented on #706
Hi @vincentbernat , I don't know if you're still plugging away at the building your patch, but I've collected a few [Ubuntu fixes](https://github.com/joe-lawrence/kpatch/tree/ubuntu_fixes) in my own tree for testing (in the aptly named "ubuntu_fixes" branch).  See the commit log for an example usage of `KPATCH_GCC_OBJ_IGNORE` to help avoid #701 and #708.

With the test branch and running Ubuntu 3.

[2017-06-13 14:02] vincentbernat commented on #706
Thanks for the heads up. Unfortunately, I don't currently have the time to debug more (and I have finally opted to reboot the affected kernels, so I don't have an immediate use of the patch). My next step was to modify the patch to not modify any .h, to put the code in a dedicated .h (with a different function name) and only include it in the .c files that need it.

As for `-fno-inline-functions-c

[2017-06-13 19:27] joe-lawrence opened #713 "Ubuntu: package kernels built with -fno-inline-functions-called-once"
@vincentbernat pointed out that Ubuntu kernels are built with [-fno-inline-functions-called-once](https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html#index-finline-functions-called-once)
I think this compiler argument is coming out of the source package's `debian/rules.d/0-common-vars.mk` file.  Both [Trusty](http://kernel.ubuntu.com/git/kernel-ppa/mirror/ubuntu-trusty.git/tree/debian/rules.d

[2017-06-21 15:23] disaster123 opened #714 "memory.o: symbol changed sections: .LC39"
Hello,

i'm trying to apply this simply looking patch on top of my 4.4 kernel via kpatch but build fails with:

...
Reading special section data
Building original kernel
Building patched kernel
Extracting new and modified ELF sections
ERROR: memory.o: symbol changed sections: .LC39
/usr/lib/kpatch/create-diff-object: unreconcilable difference
mmap.o: changed function: __split_vma.isra.38
mmap.o: c

[2017-06-30 16:59] jpoimboe opened #716 "Bring back the "replace" functionality"
Currently, when applying an upgraded cumulative patch, where v2 reverts a change done by v1, we have to be careful:

1) compile v1 and note the list of changed functions

2) compile v2 and note the list of changed functions

3) for those functions which changed in v1 and did not change in v2, make a trivial change (i.e., asm("nop") such that kpatch-build will detect the functions as changed, but o

[2017-06-30 17:01] jpoimboe commented on #716
Or another idea would be to get the atomic patch replacement working again, especially for livepatch.  It was deprecated for kpatch.ko with #557.

[2017-06-30 17:18] jpoimboe commented on #716
This would also be useful as it would allow kpatch-build to print which functions are being re-patched, which are being reverted, and which are newly patched.

It might also allow us to eventually detect patch dependencies (but that would need a lot more thought and discussion).

[2017-07-17 13:28] akohlbre opened #720 "undefined symbol"
Hi - I'm getting an undefined symbol error after building with kpatch-build. The build completes successfully, but fails upon loading. See attached file for patch details.

[foo_bad_patch.txt](https://github.com/dynup/kpatch/files/1152711/foo_bad_patch.txt)

I'm building on Ubuntu 16.04, kernel 4.8.0-58, kpatch version 0.4.0.

The undefined symbol is `copy_mnt_ns`. There's a prototype definition f

[2017-07-17 14:16] jpoimboe commented on #720
I don't remember seeing a kpatch patch which touched the Makefile and added a .c file.  Normally I would have said that's not supported, but apparently it (almost) worked somehow, so I'm not so sure about that.

I tried the patch without the new .c file, by putting foo_fxn() in fork.c, and got the same error.  So it seems like a real bug in kpatch-build somewhere.

[2017-07-17 14:25] jpoimboe commented on #720
Actually, when I put foo_fxn() in fork.c, the error is different:
[code]